[2017-05-05 17:28] csoleimani commented on #598
I just tried hardcoding the password into the manifest and not doing a hiera lookup, but I'm still seeing the same issue. Could you please post what your code looks like, @kmcfate ? I just tried taking all of the hiera lookups out of my rabbitmq_cluster variable and it still is showing the same behavior.

[2017-05-05 17:34] cwjohnston commented on #598
@csoleimani for your case i suspect that `rabbitmq_reconnect_on_error` is a contributing factor. Sensu defaults this to `true`, so removing the explicit definition from configuration shouldn't change behavior.

[2017-05-05 17:41] csoleimani commented on #598
Thanks for the suggestion, @cwjohnston . I just tried removing it and unfortunately, removing that attribute didn't seem to get rid of the issue.

[2017-05-06 09:19] #577 closed

[2017-05-09 16:21] GhostLyrics commented on #585
@portertech @cwjohnston Ping? It's getting harder to recommend sensu due to the puppet module simply stalling and falling behind sensu's core features.

[2017-05-09 18:14] cwjohnston commented on #585
@jaxxstorm @GhostLyrics

We recognize that this project needs dedicated help and we are working to bring in a third-party to provide much needed expert attention. We're choosing to do this instead of moving this module to vox-pupuli because we're working with Puppet to join their [TAP program](https://puppet.com/partners/alliance/technology-alliance-partners).

The level of partnership we're looki

[2017-05-09 18:14] #585 closed

[2017-05-16 07:34] nagyt234 opened #654 "Sensu packages cannot be authenticated"
## Description of problem

- What did you do?
I've tried to install sensu/redis/rabbitmq throug puppet, using the puppet modules
[code]
- What happened?
rabbitmq and sensu installed successfully, but sensu not, because the package is unauthenticated. See. output below.
- What did you expect to happen?
That sensu is also installed.
- How can someone reproduce the problem?
Use the manifest file belo

[2017-05-17 14:05] b-0-b commented on #634
Hello all,

this can be related to https://tickets.puppetlabs.com/browse/SERVER-94

I ran into this problem when using r10k and different versions of this puppet module. We have a fairly old version of the module in production and when I try to refactor our puppet code to use the most recent version of this module in a separate r10k environment I get the same error.

You can try running `/opt/pupp

[2017-05-22 14:28] dzeleski opened #655 "RHEL 7 - Sensu Enterprise service is not being managed correctly"
Hi,

On RHEL 7 (only OS tested thus far) when using sensu enterprise 2.5.3-1 if the service is stopped puppet will not attempt to restart it, if it is manually started it starts just fine, then on the following puppet run puppet attempts to start the service.

We set in hiera:
[code]

[code]

[2017-05-22 20:35] dzeleski commented on #655
This appears to have been an issue with systemd. Reloading the unit files and using systemctl to stop the services seems to have fix this.

[2017-05-22 20:35] #655 closed

[2017-05-23 14:49] nagyt234 opened #657 "All of the json files (client, api, etc.) in /etc/sensu/conf.d remain empty"
## Description of problem

- What did you do?
I've tried to install sensu using the puppet module:
[code]
- What happened?
RabbitMQ and Redis are installed. Sensu is installed after I installed the APT key manually (see issue #654) but sensu client is not started because of a ruby error (s. below), which I guess caused by the empy` /etc/sensu/conf.d/client.json` file. As all other files, redis.jso

[2017-05-24 09:06] nagyt234 commented on #654
The problem was caused by the `pluginsync` settings on the puppet agent. It has to be enabled, see [puppet documentation](https://docs.puppet.com/puppet/3.8/custom_types.html#deploying-and-using-types-and-providers). The weird thing is that no error message appears anywhere about missing (custom) types.

[2017-05-24 09:06] #654 closed

[2017-05-24 12:47] jothoma1 commented on #606
Someone has an idea ? do i have to use @dzeleski fork ?
Thanks in advance

[2017-05-24 14:51] dzeleski commented on #606
@jothoma1 all of my PRs were merged for this. They are using redirects in the repo itself to support the naming change on windows. For RHEL I use specific the version I want installed:

`0.27.0-1.el%{operatingsystemmajrelease}`

I cant comment on debian as I dont use it at work.

[2017-05-29 08:01] jothoma1 commented on #606
@dzeleski thanks for your response. Sorry for the questions... I'm using it in Puppet with :

With version => latest, the repository (for CentOS) is not the good one and my sensu clients don't install latest updates. They are blocked on 0.26.5.

So if i understand, i have to specify the version ?
Can you give me an example ? for centos & windows ?

Thanks a lot

[2017-05-30 21:49] #556 closed

[2017-05-31 20:11] dzeleski commented on #606
@jothoma1 for windows just use the version:
`version: '0.27.1-7'`

for cent/rhel use version plus the OS major version:
hiera: `version: '0.27.1-7.el%{operatingsystemmajrelease}'`
puppet: `version => "0.27.1-7.el${facts['operatingsystemmajrelease']}",`

[2017-06-02 21:39] cryptk opened #658 "Module does not support the when attribute on filters"
The module does not appear to support the "when" attribute of a sensu filter.  This functionality is documented at https://sensuapp.org/docs/0.26/reference/filters.html#when-attributes

[2017-06-07 14:03] jothoma1 commented on #617
Any news on this ? I'm wondering how this fix: https://github.com/sensu/sensu-puppet/pull/588 will work on localised systems ? Like french windows OS, the administrators is administrateurs, but it's difficult for me as i have english & french Windows OS...

[2017-06-07 14:08] dzeleski commented on #617
@jothoma1 what issues are you having? This was merged: https://github.com/sensu/sensu-puppet/pull/628/files

Which fixes this issue. Locale should not matter as we are just installing sensu with the default service that the installer uses.

[2017-06-07 14:34] jothoma1 commented on #617
@dzeleski i dont understand, i dont have these merged on my module... but i upgraded from https://forgeapi.puppetlabs.com with

Do you know why ?

[2017-06-07 14:43] dzeleski commented on #617
@jothoma1 a new version has not been published to the forge in quite some time. I would recommend pulling via commit hash from git. If you want more control you can fork the repo.

[2017-06-07 14:48] jothoma1 commented on #617
@dzeleski ok i will do that !

[2017-06-07 19:53] jaxxstorm commented on #617
I just released 2.2.1 to the forge, if that helps.

[2017-06-08 03:49] Justin-DynamicD opened #659 "Error: no parameter named 'heartbeat' at [...]/modules/sensu/manifests/rabbitmq/config.pp:126"
Updated module from 2.2.0 -> 2.2.1
The manifest is unchanged (works in 2.2.0)
Attempting to test on Ubuntu 16.4 (likely other builds as well):

Error: no parameter named 'heartbeat' at [...]/modules/sensu/manifests/rabbitmq/config.pp:126 on Sensu_rabbitmq_config[server name]

Hopefully this list lays it out but basically the new module fails to load properly citing that it's attempting to call a m

[2017-06-08 08:25] jaxxstorm commented on #659
Which version of Puppet are you using?

[2017-06-08 17:32] Justin-DynamicD commented on #659
4.10.1 (latest I think)

[2017-06-09 13:05] xepa commented on #659
I has this same issue .. restarting the puppet-server solved the problem for me.

[2017-06-10 13:04] jaxxstorm commented on #659
Yes, this is an old Puppet bug related to directory environments.

[2017-06-10 13:04] #659 closed

[2017-06-13 22:44] agoddard opened #661 "Implement support for arbitrary top-level configuration hashes"
In order to configure Sensu Enterprise integrations, arbitrary configuration for handlers (wherein a handler looks for a particular named configuration hash) and in order to configure new features that simply require additional configuration (such as defining contacts, etc), it would be great to support a method within the module which could take an arbitrary hash and render it into a JSON file, f

[2017-06-13 22:47] agoddard commented on #597
Using arbitrary hashes w/ #661 and `client_custom` on the client, or `custom` check should support this

[2017-06-14 12:37] atrepca opened #662 "Could not find init script or upstart conf file for 'sensu-enterprise'"
## Description of problem

- What did you do?
We upgraded the Sensu Puppet Forge module from version 2.1.0 to version 2.2.1, and the Sensu version from 0.25.7-1 to 0.26.5-2.
- What happened?
Puppet is failing due to not finding the init script/ upstart conf file for the `sensu-enterprise` service.
- What did you expect to happen?
We're using Sensu Core not Sensu Enterprise; we don't have any Enter

[2017-06-14 13:08] atrepca commented on #662
Just saw this was fixed in #409 but then rolled back in #656. What was the reason for flipping the vars @dzeleski?

[2017-06-14 13:23] dzeleski commented on #662
409 broke the ability to set manage_services to false and manage the services outside of the sensu module for enterprise users. Is puppet attempting to stop/disable the sensu-enterprise service?

Could you post a debug output of your puppet run?

[2017-06-14 14:33] atrepca commented on #662
Yup @dzeleski, Puppet is attempting to stop/disable the `sensu-enterprise` service. Below the relevant bits from a debug run:
[code]

[2017-06-15 12:56] atrepca commented on #662
Fixed by #660, closing.

[2017-06-15 12:56] #662 closed

[2017-06-15 19:31] ghoneycutt opened #665 "test"

[2017-06-15 19:31] #665 closed

[2017-06-15 19:40] ghoneycutt opened #666 "all sort of integrations"

[2017-06-15 19:41] #666 closed

[2017-06-19 18:30] ghoneycutt opened #670 "Fix package suffix spec test"
This is related to PR #615

[code]

[2017-06-20 21:44] mbbroberg opened #673 "Heads up about new contributors"
**TL;DR** is the team at [LearnPuppet](http://learnpuppet.com/) started working through this repo's backlog as part of a plan for [Sensu Inc](https://blog.sensuapp.org/introducing-sensu-inc-9f1d2027c577?gi=c2112566ea09) to better support the Puppet community.

Hey folks :wave:
(tagging recent committers @jaxxstorm, @devcfgc, @robbyt, @andyroyle)

I want to introduce myself - I joined Sensu this we

[2017-06-21 11:16] jaxxstorm commented on #673
Great to see extra hands here!
I seem to be the only one with access to the forge account at the moment, so let me know if I need to share with @ghoneycutt

[2017-06-21 12:33] obfuscurity commented on #673
@jaxxstorm That would be awesome, can we also get access for @cwjohnston @mbbroberg and myself?

[2017-06-21 12:36] jaxxstorm commented on #673
@obfuscurity yep. Is there a secure channel you'd prefer me to share via?

[2017-06-21 12:53] obfuscurity commented on #673
@jaxxstorm Oh I assumed it would let you just connect via permissions. Let's start with @ghoneycutt for now and the others can request it directly as needed.

[2017-06-21 13:28] ghoneycutt commented on #673
My public key is at http://pgp.mit.edu/pks/lookup?op=get&search=0x3DCF9E6861B486A8

[2017-06-21 22:03] #670 closed

[2017-06-21 22:25] mbbroberg commented on #673
I'm so excited you're excited @jaxxstorm! I think this issue will be all set once @ghoneycutt has access, so feel free to close then. We'll talk more on Monday 👍

[2017-06-22 04:50] Justin-DynamicD commented on #673
This is fantastic news ... look forward to seeing what comes from this.

[2017-06-23 14:15] ghoneycutt commented on #666
This was just a test of integrating other services with GitHub.

[2017-06-23 20:09] calebhailey commented on #673
@jaxxstorm any chance we can get that Puppet Forge access squared away today?

[2017-06-24 08:19] jaxxstorm commented on #673
@calebhailey sorry for the delay, I'll get it sorted Monday.

@ghoneycutt is an email to the address in your profile okay?

[2017-06-26 13:55] jaxxstorm commented on #673
I sent this over yesterday, let me know if there was any issue

[2017-06-26 14:13] ghoneycutt commented on #673
Confirmed I have access to the Forge. Thank you!

[2017-06-26 15:46] cwjohnston commented on #673
Thanks @jaxxstorm ! Looks like this has been handled so I'll go ahead and close this now.

[2017-06-26 15:46] #673 closed

[2017-06-26 19:15] ghoneycutt commented on #661
@agoddard Have you tried using sensu::write_json for this?

[2017-06-26 20:29] ghoneycutt opened #676 "Vagrant environment does not work"
Fix vagrant environment. It should work using EL7 and Puppet v4.

[2017-06-26 20:30] ghoneycutt commented on #676
Addressed in PR #677

[2017-06-26 21:24] ghoneycutt opened #678 "Switch to using Hiera data in the module instead of accessing variables in another scope"
Currently the code accesses variables in other scopes, such as `$sensu::owner` and `$sensu::group`. Instead that data should be refactored to use Hiera.

https://docs.puppet.com/puppet/4.10/hiera_migrate_modules.html#module-data-with-yaml-data-files

[2017-06-26 21:24] ghoneycutt opened #679 "Use a newer puppetlabs_spec_helper that includes syntax validation"
We should be using the newest puppetlabs_spec_helper, which will speed up testing.

[2017-06-26 21:26] ghoneycutt opened #680 "Ensure file validation tests are being done"
We should be doing file validation on a minimum of *.rb, *.erb, *.sh, *.yaml and Vagrantfile

[2017-06-26 21:31] ghoneycutt commented on #566
and code of conduct

[2017-06-26 21:31] ghoneycutt opened #681 "Vagrant should have clients for other platforms"
Which platforms should we add? Suggest starting with EL6, Ubuntu 16.04, Windows 2008 R2 and Windows 2012 R2.

[2017-06-26 21:33] ghoneycutt commented on #681
@cwjohnston Which client platforms would you like to see us begin with?

[2017-06-26 21:36] ghoneycutt opened #682 "Use Puppet v4's data types"
This will get rid of the deprecation notices and allow us to use the improvement in Puppet v4.

https://docs.puppet.com/puppet/4.10/lang_data_type.html

[2017-06-26 21:53] ghoneycutt opened #683 "sensu::write_json requires that owner and group be specified"
Related to Issue #678

The code currently attempts to access an internally scoped variable of another class which is brittle. Sensible defaults for owner/group are sensu/sensu.

[2017-06-27 03:28] cwjohnston opened #685 "redis_reconnect_on_error should default to true"
## Description of problem

The `redis_reconnect_on_error` parameter currently defaults to `false`, which is inconsistent with Sensu's defaults. The official Sensu documentation has incorrectly documented this default as `false` for some time now.

Relates to https://github.com/sensu/sensu-docs/pull/601 where I've suggested a fix for the documentation.

[2017-06-27 15:59] #683 closed

[2017-06-27 16:09] #676 closed

[2017-06-27 16:14] agoddard commented on #681
@ghoneycutt I think your suggested platforms are 💯

[2017-06-27 16:21] cwjohnston commented on #681
@ghoneycutt I'm satisfied with that list 👍

[2017-06-27 17:16] cwjohnston commented on #681
For now we can omit Win 2008 R2 to keep this manageable.

[2017-06-27 17:31] cwjohnston commented on #661
Closing this as we believe sensu::write_json provides the needed functionality.

[2017-06-27 17:45] cwjohnston commented on #634
Closing this as it seems to be a Puppet Server issue and not specific to this module.

[2017-06-27 17:45] #634 closed

[2017-06-27 17:50] cwjohnston commented on #606
I'm going to close this issue as I believe we've implemented the changes required to address these concerns. Version 2.4.0 of this module is now available on the forge.

[2017-06-27 17:50] #606 closed

[2017-06-27 19:42] #679 closed

[2017-06-27 19:47] rgeniesse commented on #647
write_json should solve this. If it doesn't, I'll make a new issue.

[2017-06-27 20:25] #680 closed

[2017-06-27 20:44] cwjohnston commented on #583
We recently repointed repositories.sensuapp.org at a new CDN map, see [this blog post](https://blog.sensuapp.org/announcement-sensu-core-repositories-adding-https-ipv6-and-http-2-support-8480005b5ea4) for more details.

The new CDN map presents a certificate with `repositories.sensuapp.org` as an entry in the subjectAltName extension, but we are not recommending using `https://repositories.sensuap

[2017-06-27 21:12] ghoneycutt opened #688 "the sensu-plugin gem is incorrectly installed with the system ruby instead of the embedded ruby"
We should install the plugin and anything else using the embedded ruby and not the system ruby.

[2017-06-28 00:11] ghoneycutt commented on #681
Platforms

- [ ] EL 6
- [ ] Ubuntu 16.04
- [ ] Windows 2012 R2

[2017-06-28 00:12] ghoneycutt commented on #681
EL6 client in PR #689

[2017-06-28 00:54] ghoneycutt opened #690 "Drop support for EOL platform ubuntu 12.04"
Ubuntu 12.04 LTS entered end of life April 28th, 2017 and as such, support should be dropped.

https://wiki.ubuntu.com/Releases

[2017-06-28 00:55] ghoneycutt opened #691 "Drop support for Windows 2008 and 2012 (non R2)"
We are dropping support for the non R2 versions as they are not supported by Puppet.

[2017-06-28 01:32] ghoneycutt commented on #681
Ubuntu 16 and 14 clients in PR #692

[2017-06-28 01:38] #690 closed

[2017-06-28 01:38] #691 closed

[2017-06-28 14:27] jeffmccune commented on #688
@ghoneycutt Is the scope of this the default behavior of the module to be released to end users, or restricted to the vagrant environment, e.g. `tests/sensu-client.pp` which would need `sensu_plugin_provider => sensu_gem` added?

[2017-06-28 15:17] jeffmccune commented on #688
[PR-694](https://github.com/sensu/sensu-puppet/pull/694) is ready for review.

[2017-06-28 16:42] ghoneycutt commented on #688
Not just vagrant, you're on the right track here by only using the embedded ruby.

[2017-06-28 17:05] ghoneycutt opened #695 "Ubuntu16.04 uses the wrong ipaddress"
`tests/sensu-client.pp` uses `$::ipaddress_eth1` which on Ubuntu 16.04 is `enp0s8`. That manifest should check for the presence of ipaddress_eth1 and enp0s8 and act appropriately.

[2017-06-28 17:06] ghoneycutt opened #697 "Change repos to use HTTPS by default"
Currently they are using HTTP.

[2017-06-28 19:40] #688 closed

[2017-06-28 20:45] jeffmccune commented on #681
@ghoneycutt Just as an FYI, I have the start of a Win2012r2 vagrant vm with powershell provisioning scripts as part of my work on #646

[2017-06-28 20:53] ghoneycutt commented on #681
Excellent! I was planning on using box `opentable/win-2012r2-standard-amd64-nocm` unless you have a better idea.

[2017-06-28 21:00] jeffmccune commented on #681
We're very closely aligned, I reached for `opentable/win-2012r2-standard-amd64-nocm` to reproduce the error in #646

@ghoneycutt Take a look at the provisioning scripts in my https://github.com/jeffmccune/sensu-puppet/tree/646_fix_error_on_win2012r2_tests branch, they're the tricky part that I'm working through now.

I think I have it installing Puppet and running `puppet apply`.  The lesson I lea

[2017-06-28 21:09] ghoneycutt commented on #681
Can you use a symlink instead of a copy?

http://lifeofageekadmin.com/create-symlinks-windows-2012-r2-server/

[2017-06-28 22:52] rgeniesse commented on #659
FWIW, a restart of pe-puppetserver didn't solve this for me, I had to do this on my Puppetmaster:
`sudo puppet generate types --environment production`

[2017-06-28 23:26] jeffmccune commented on #681
Didn’t try that, trying it now.  Vagrant seems to be hanging up at the msiexec too.  Looking into both of these.

[2017-06-29 00:42] jeffmccune commented on #681
Updated to use symlink in 43099d2, this should be good for you and #681 @ghoneycutt

[2017-06-29 00:54] jeffmccune commented on #646
@ghoneycutt I've resolved the Package[Sensu] error by rebasing the work in #635.  I'm running into this issue now:

[code]

It seems we need to specify an explicit version for windows.  I notice `sensu::version` defaults to `latest` though.

Do you have any guidance on how to handle this for windows?  Maybe specify an explicit default version via hiera data in the module with an entry in the hiera

[2017-06-29 19:42] jeffmccune opened #700 "Investigate getting sensu_gem working on windows"
This task came up in the discussion of https://github.com/sensu/sensu-puppet/pull/699#pullrequestreview-47131212

Moving it here for prioritization and decision.  The major issues with windows brought up in #646 have been address in #699 so it's unclear if getting sensu_gem working on windows is necessary or not.

[2017-06-30 15:20] #646 closed

[2017-06-30 15:20] #681 closed

[2017-06-30 15:23] ghoneycutt commented on #626
@jeffmccune what's the status on this since we merged your windows work?

[2017-06-30 15:24] ghoneycutt commented on #617
@jeffmccune what's the status on this since we merged your windows work?

[2017-06-30 15:31] ghoneycutt commented on #697
Fixed in v2.8.0

[2017-06-30 15:31] #697 closed

[2017-06-30 15:31] ghoneycutt commented on #583
Fixed in v2.8.0

[2017-06-30 15:31] #583 closed

[2017-06-30 15:32] ghoneycutt commented on #646
Fixed in v2.8.0

[2017-06-30 15:33] ghoneycutt commented on #688
Released in v2.7.0

[2017-06-30 15:37] jeffmccune commented on #617
Looking into it now.

[2017-06-30 16:07] jeffmccune commented on #626
Looking into it now.

[2017-06-30 16:22] jeffmccune commented on #626
@ghoneycutt Recommend we close this as resolved.

Current status as of #699

sensu::version now defaults to `installed` on all platforms.  Previously, it defaulted to `latest`.  Symlinks have been added to https://repositories.sensuapp.org/msi/{2008,208r2,2012,2012r2,2016}/sensu-latest-{x86,x64}.msi <https://repositories.sensuapp.org/msi/> to facilitate support of sensu::version => latest.  These

[2017-06-30 16:32] ghoneycutt commented on #626
Thanks @jeffmccune

@cdenneen please try release v2.8.0 and re-open if you have any issues.

[2017-06-30 16:32] #626 closed

[2017-06-30 16:35] ghoneycutt commented on #585
My team is now supporting the module. See #673

[2017-06-30 16:46] jeffmccune commented on #638
@dhgwilliam I'm working on this presently.  Thanks for the great start, I've rebased your work on master and will build from there preserving your commits.

I'm thinking about `host` being the namevar, and I'm wondering if it's sufficient?  That is to say, have you ever run into a situation where multiple dashboards run on the same hostname or IP, but under different port numbers?

My gut tells me

[2017-06-30 16:50] ghoneycutt opened #701 "Stop using scope.lookupvar() in templates"
We should bring the variables into the local scope and use `@variable`

https://docs.puppet.com/puppet/4.10/lang_template_erb.html#accessing-puppet-variables

[2017-07-01 17:43] GhostLyrics commented on #606
Just in case someone is not aware of this: unfortunately (for me) the newer version bringing the necessary changes to apt URLs also requires Puppet 4 which makes it impossible to use for me, for the time being.

[2017-07-04 12:08] b-0-b commented on #598
This works for me now after refactoring my puppet an hiera code.

manifest
[code]

hiera
[code]
and

[code]

Don't use any *rabbitmq_foo* parameters except for *rabbitmq_cluster*. Manage the SSL certs for RabbitMQ outside the sensu module if you use SSL.

Hope that helps :)

[2017-07-04 17:46] ghoneycutt commented on #598
Thanks @b-0-b for showing us the working config!

[2017-07-04 19:09] ghoneycutt commented on #618
Thank you @dzeleski for opening this issue and @jothoma1 for your help.

This appears to be solved by PR #621

Please re-open if this is not the case.

[2017-07-04 19:09] #618 closed

[2017-07-04 19:13] ghoneycutt commented on #685
The docs should be merged before this functionality.

[2017-07-04 19:39] #695 closed

[2017-07-05 17:15] jeffmccune commented on #638
In progress.

[2017-07-05 21:10] #685 closed

[2017-07-05 21:15] ghoneycutt commented on #685
Released in v2.10.0

[2017-07-05 21:18] ghoneycutt commented on #648
This functionality was released in v2.9.0

[2017-07-05 21:18] #648 closed

[2017-07-06 13:44] Debilski opened #708 "Add support for Debian 9 stretch"
Additionally, it would be helpful if the apt release specifier would be parametrised and not resolve to $::lsbdistcodename directly (see snippet below). That way one could at least use the jessie release on a Debian stretch machine.

    apt::source { 'sensu':
      ensure   => $ensure,
      location => $url,
      release  => $::lsbdistcodename, # this should be a sensu parameter
      repos

[2017-07-06 15:39] ghoneycutt commented on #637
@crayfishx this should be very similar to https://github.com/sensu/sensu-puppet/commit/f83e3bfc28f5e23c883422e508c478e6343ea4bf where I added a few parameters to match the API.

[2017-07-06 15:40] ghoneycutt opened #709 "Stop using private classes and the anchor pattern"
The anchor pattern is deprecated. Currently we have private classes that manage pieces of the whole but do not provide value on their own. Would prefer to have fewer classes and no longer need the anchor pattern or private classes.

[2017-07-06 16:21] ghoneycutt commented on #708
Thanks for letting us know about Debian 9. I'm looking into adding it to our Vagrant setup now.

[2017-07-06 16:46] ghoneycutt commented on #708
@Debilski This is not yet supported by Puppet. Until then, we will not have formal support for it. Your work around is totally valid and I'll look into implementing that.

You can watch https://tickets.puppetlabs.com/browse/PA-515 to see when Debian 9 support is added.

[2017-07-06 17:06] ghoneycutt opened #710 "Add support for Debian 7 and 8"
Module should support Debian 7 (wheezy) and 8 (jessie) which are supported by Sensu.

[2017-07-06 17:20] Debilski commented on #708
Thanks for looking into the work-around. That puppet has no official Debian 9 support is of course a different issue altogether (though the Debian 8 version of Puppet works on 9 once you install libreadline6 from Debian 8 as well).

[2017-07-06 17:29] ghoneycutt opened #711 "Add ability to specify a different release for apt::source"
As described in Issue #708

[2017-07-06 17:30] ghoneycutt commented on #711
@debilski

[2017-07-06 17:47] ghoneycutt opened #713 "Add support for Puppet 5"
Puppet 5 has been released, so we should support it.

[2017-07-06 17:51] #710 closed

[2017-07-06 17:51] #711 closed

[2017-07-06 17:53] ghoneycutt commented on #710
Released in v2.12.0

[2017-07-06 17:54] ghoneycutt commented on #711
Released in v2.12.0

[2017-07-06 18:52] ghoneycutt commented on #713
Released in v2.13.0

[2017-07-06 18:52] #713 closed

[2017-07-06 20:49] #584 closed

[2017-07-06 20:49] #638 closed

[2017-07-06 20:53] ghoneycutt commented on #584
Released in v2.14.0

[2017-07-06 20:53] ghoneycutt commented on #638
Released in v2.14.0

[2017-07-06 21:46] cwjohnston opened #717 "rabbitmq_reconnect_on_error parameter is useless"
## Description of problem

The code added in #333 places a `reconnect_on_error` parameter under the `rabbitmq` configuration scope, e.g.

[code]

[Per the documentation](https://sensuapp.org/docs/0.29/reference/transport.html#transport-attributes), this configuration parameter actually belongs under the `transport` configuration scope, e.g.

[code]

Further more, this parameter defaults to `false`

[2017-07-07 07:13] kanchan1234 opened #719 "unable to load facts into a newly installed puppet agent server from puppet master"
Action:
A newly installed Puppet server(3.6.4) is trying to load facts into puppet agent (3.8.4)
Steps;
InPuppet master
My ruby file exist inside /var/lib/puppet/lib/facter/last_run.rb
[root@sasin puppet]$ facter -p last_run
Fri Jul  7 09:11:25 CEST 2017
/etc/puppet/puppet/.conf contains pluginsync=true
Problem:
puppet agent -t ---plunginsync [in agent node]   does not create any ruby file inside

[2017-07-07 07:14] Phil-Friderici commented on #701
If we move the variables to the classes where they are really used, we will break backward compatibility.
For example the template sensu.erb is used in sensu::package but the variables are sourced in from the main class.

To maintain backward compatibility in the first step, I could add the variables to sensu::package and source them in from the main class. This way you get the same results using

[2017-07-07 14:51] ghoneycutt commented on #701
Let's go the second route and do variable assignment that references variables in the main class. Eventually I'd like to collapse all these extra classes and this will make it easier to understand where the variables come from.

[2017-07-07 14:52] ghoneycutt commented on #719
Hi @kanchan1234

This is not an issue with the Sensu module and seems to be an issue with your Puppet setup. Suggest posting your issues to the puppet-users mailing list or https://ask.puppet.com/questions/

[2017-07-07 14:52] #719 closed

[2017-07-07 15:02] ghoneycutt commented on #717
There is existing work for this in PR #595

[2017-07-07 18:13] #649 closed

[2017-07-07 18:17] ghoneycutt commented on #649
Released in v2.16.0

[2017-07-07 20:25] jeffmccune commented on #428
Closing this issue via #559 #596 and #623

[2017-07-07 20:25] #428 closed

[2017-07-08 19:19] #658 closed

[2017-07-08 19:23] ghoneycutt commented on #658
Released in v2.17.0

[2017-07-08 20:18] #589 closed

[2017-07-08 20:21] ghoneycutt commented on #589
Released in v2.18.0

[2017-07-09 07:44] Phil-Friderici commented on #701
Working on this in PR https://github.com/sensu/sensu-puppet/pull/724

[2017-07-09 14:55] jeffmccune commented on #617
Closing this issue, the behavior when running on windows is currently issuing a notice, `Managing a local windows user is not implemented on windows`.  This changed from a warning in 10a781b5.  The behavior is very similar to that implemented in #628

[2017-07-09 14:55] #617 closed

[2017-07-09 16:02] #717 closed

[2017-07-09 16:09] ghoneycutt commented on #717
Released in v2.19.0

[2017-07-10 07:27] cabecada opened #727 "support for setting spawn limit via puppet"
we have hit the bottleneck of too many checks (JIT) from a single server leading to issues addressed by https://github.com/sensu/sensu/pull/1265. i know there are other workarounds to deal with this, but since this is public(?) config, i guess it should be configurable via  puppet.

but it seems this is not yet configurable via puppet.
any plans to include this configurable option ?

[2017-07-10 13:24] ghoneycutt commented on #727
Thanks @cabecada for reporting this!

@agoddard @cwjohnston I cannot find any documentation for this option on our site. Could you point me in the right direction?

Which file should this go in?

[2017-07-10 13:28] #495 closed

[2017-07-10 13:32] ghoneycutt commented on #495
Released in v2.19.1

[2017-07-10 13:43] johanek commented on #598
I too had this problem, and undefining any `rabbitmq_foo` parameters and manually managing the SSL certificates fixed it.

It's a bit of a shame that setting `rabbitmq_ssl_cert_chain` and `rabbitmq_ssl_private_key` to the content of the certificates doesn't write the file without disturbing the `rabbitmq_cluster` config, but such is life.

Thanks for figuring this out @b-0-b!

[2017-07-10 13:44] ghoneycutt commented on #582
This is related to issue #682 to use Puppet v4's data types. We should enforce data types for certain values while respecting data types such as a string that looks like an integer, instead of transforming them.

[2017-07-10 13:46] ghoneycutt commented on #515
Related to issue #682 to use Puppet v4's data types. We can use the sensitive data type for passwords.

https://docs.puppet.com/puppet/4.10/lang_data_sensitive.html

[2017-07-10 13:47] ghoneycutt commented on #709
This will restructure the module enough such that existing PR's will not merge. This work should not happen until the open PR's have been closed.

[2017-07-10 13:52] ghoneycutt commented on #433
@jeffmccune This also looks very similar to ae4885952830868e346eec60b52acfa4c8a28853

[2017-07-10 16:25] cwjohnston commented on #560
I believe @stevenviola's comment is correct. Because` remediation` is not part of the [check definition specification](https://sensuapp.org/docs/latest/reference/checks#check-definition-specification), this handler configuration belongs under `custom`.

[2017-07-10 16:48] ghoneycutt commented on #560
@Phil-Friderici could you please document this

[2017-07-10 17:43] cwjohnston commented on #560
For clarity, any attribute that's not listed in the check definition specification belongs under `custom`.

[2017-07-10 18:27] cwjohnston commented on #727
You're right there's no documentation for this setting presently. https://github.com/sensu/sensu-docs/issues/451 is tracking that need. Because this modifies the concurrency of both sensu-server pipe handler execution and sensu-client check execution (when running on same system), I recommend using /etc/sensu/conf.d/spawn.json

[2017-07-10 18:35] cabecada commented on #727
This is what i tried but i guess this has to go via providers and types?
though hardcoded, but it can be parameterized.

[code]

[2017-07-11 16:02] alvagante commented on #682
I can tackle this one.
Wondering if, besides using Puppet 4 data types for parameters validation, you want to use also Puppet 4.9 (4.10) data in module.
This would make the module backwards incompatible with Puppet < 4.9 , which is probably not wanted.

[2017-07-11 16:13] alvagante commented on #709
@ghoneycutt This also might be done during #682
and actually, as you wrote, it's probably better to do this refactoring with large impact on code after current PRs are merged.

[2017-07-11 17:57] ghoneycutt commented on #682
We want to maintain support for 4.9. Check out the platform list in `.travis.yml`.

[2017-07-11 17:58] ghoneycutt commented on #678
Closing because it requires puppet >= 4.9. We've got some time before that's acceptable.

[2017-07-11 17:58] #678 closed

[2017-07-11 17:58] ghoneycutt commented on #709
Yeah, let's hold off on this for now.

[2017-07-11 18:27] jeffmccune opened #729 "Consider replacing sensu_contact (and other types) with sensu_sorted_json()"
This came up in the discussion of #728 which implements #597.  We're aware most of the native and defined types in the sensu module effectively pass-through data to the underlying JSON configuration files.

In an effort to make it easier and less work to maintain the Puppet module, consider making each of the defined types generic enough to pass-through configuration data as-is using sorted JSON.

[2017-07-11 18:42] jeffmccune commented on #597
@stevenviola We've implemented this in #728 and should have it merged / released soon.  Please let us know if you have any questions or comments about the implementation of the `sensu::contact` resource.  Thanks for letting us know your need for this enhancement!

[2017-07-11 19:05] ghoneycutt commented on #600
@jeffmccune this is similar to the other issues regarding notification of services.

[2017-07-11 19:10] ghoneycutt commented on #550
Can you please provide a reference implementation with the path of the json file and its contents?

[2017-07-11 19:13] cwjohnston commented on #550
@gh see https://sensuapp.org/docs/latest/reference/clients#deregistration-attributes for client configuration spec

[2017-07-11 19:26] Phil-Friderici opened #731 "use puppet code instead of ruby code in template"
sensu-version.erb is only used to manipulate a string.
This should be rather done in puppet code instead.

[2017-07-11 19:29] Phil-Friderici opened #732 "don't use templates for static files"
pubkey.gpg is a static file and should not be used as template.
It should be moved to the files folder for clarification.

[2017-07-11 19:31] #433 closed

[2017-07-11 19:32] Phil-Friderici commented on #731
Same is true for:

[code]

[2017-07-11 19:39] ghoneycutt commented on #433
Thanks everyone!

Fix released in v2.19.2

[2017-07-11 19:40] #597 closed

[2017-07-11 19:46] ghoneycutt commented on #597
Fixed in release v2.20.0

[2017-07-11 19:47] ghoneycutt commented on #732
This is ok.

[2017-07-11 19:47] #732 closed

[2017-07-11 20:02] ghoneycutt opened #735 "Vagrant ports for sensu-enterprise-server are off"
Currently one cannot test the API when using sensu-enterprise-server from the host. I believe that the redirected ports should be different in the Vagrantfile.

[2017-07-11 20:28] #600 closed

[2017-07-11 20:31] ghoneycutt commented on #600
Thanks for reporting @giedriusramas

@jeffmccune fix is in release v2.20.1

[2017-07-11 20:33] ghoneycutt commented on #566
code of conduct should just link to https://sensuapp.org/conduct so that the content is not duplicated.

[2017-07-12 16:06] cwjohnston opened #737 "sensu::check resources should support cron scheduling"
## Description of problem

In Sensu 0.28 the `cron` attribute was added to the [check definition specification](https://sensuapp.org/docs/latest/reference/checks#check-attributes) as an alternative to `interval` scheduling.

When present, the value of this attribute supersedes the `interval` attribute.

When `cron` is configured with a value, `interval` should not be required nor present in the co

[2017-07-12 16:24] #637 closed

[2017-07-12 16:27] ghoneycutt commented on #637
Thanks for the great explanation @exeral

@jeffmccune has implemented this and it is released in v2.21.0

[2017-07-12 17:45] csoleimani commented on #598
I've tried updating to the latest version of the module and am still facing this issue. Here is what my code looks like:
Hiera:
[code]
Manifest:
[code]

Do you see any issues with my code? Could it be possible that I'm facing the issue because I'm using enterprise?

[2017-07-12 18:13] jeffmccune commented on #735
The vagrant port does seem to be off by one (4568 instead of 4567) which may be a red herring though.  I'm looking into why there's nothing listening on port 4567 or 4568 inside the underlying VM, which is likely the root cause of the issue.

[2017-07-12 18:23] jeffmccune commented on #735
Also observed this, which may be directly related to why the API isn't bound to the TCP port:

[code]

[2017-07-12 20:18] cdenneen commented on #646
@jeffmccune this seemed to work from my Mac -> Windows doing acceptance testing which includes the sensu module in my profile for windows but had someone run from Windows -> Windows and there is a newline/CR between `2012r2` and `sensu-version...`

https://github.com/sensu/sensu-puppet/blame/master/manifests/package.pp#L72

Guessing possibly something with how the template is rendered from Windows

[2017-07-12 20:38] ghoneycutt commented on #646
What do you mean running acceptance tests windows to windows? I'm not following you.

[2017-07-12 21:53] cdenneen commented on #646
@ghoneycutt I have a profile_base::windows class that includes sensu module and configurations.
So when I run these beaker tests from Mac to windows 2012r2 nodeset it works fine. When run from Windows 10 to same windows 2012r2 nodeset it has issues with carriage return.
To get around conditional here I hardcoded value for `windows_pkg_url` and it still has another carriage return issue:

[code]

[2017-07-12 22:04] cdenneen commented on #646
@ghoneycutt just to give full code:

[code]
[code]

[code]

So without `windows_pkg_url` it seems to have a carriage return after `pkg_url_dir` but when I use the `windows_pkg_url` it has issue with carriage return with `sensu::version`.

Checked and not sure if this is correct but his git config `core.autocrlf = true` (on my mac it's false) is set which is normally necessary for windows users che

[2017-07-12 22:43] ghoneycutt commented on #646
@cdenneen I appreciate all the effort on this.

We aren't planning to support running tests from a windows host and we don't have the platform to test with. If there's an issue with the module running on Windows, we certainly do want to get that fixed. Is that the case or is the issue only with running acceptance tests?

If you can figure out how to get the acceptance tests to work with windows, w

[2017-07-13 01:56] jeffmccune commented on #598
I'm working on this and able to reproduce the error.   Thank you so much @b-0-b for the wonderful bug report.  I can't express how wonderful it is working on a project like this where the issues are so clearly reported, it's saved me tremendous time trying to understand and reproduce the issue.  With this one, and other issues I've recently worked on, it's been downright fun to work them through.

[2017-07-13 10:17] Phil-Friderici commented on #560
working on this in PR https://github.com/sensu/sensu-puppet/pull/739

[2017-07-13 12:33] Phil-Friderici commented on #578
This is the section jaredledvina was looking at the 4th November 2016:
https://github.com/sensu/sensu-puppet/blob/93b2c2bdddb4ab7b221f11002f85ddd9bce04675/manifests/init.pp#L525-L549

[2017-07-13 15:07] jeffmccune commented on #598
The way the module is currently implemented, setting rabbitmq_* class parameters is mutually exclusive with setting rabbitmq_cluster.  #742 changes the behavior to avoid the error by ignoring the sensu::rabbitmq_* class parameters when rabbitmq_cluster is defined.

[2017-07-13 15:18] jeffmccune commented on #598
PR #742 address the original issue reported by @b-0-b .  @csoleimani I'm taking a look at the related issue you reported with sensu-enterprise now.  Thanks for the example code.

[2017-07-13 15:42] #735 closed

[2017-07-13 15:51] Phil-Friderici commented on #701
this issue can be closed now :)

[2017-07-13 15:52] Phil-Friderici commented on #560
this issue can be closed now :)

[2017-07-13 15:52] Phil-Friderici commented on #599
this issue can be closed now :)

[2017-07-13 15:54] ghoneycutt commented on #735
Fix released in v2.22.0

[2017-07-13 15:55] ghoneycutt commented on #731
Fix released in v2.22.0

[2017-07-13 15:56] ghoneycutt commented on #599
@ifourmanov Thank you for reporting this. We have released v2.22.0 with it implemented.

[2017-07-13 15:58] #731 closed

[2017-07-13 16:11] jeffmccune commented on #598
Hi @csoleimani

I've looked into the issue you're facing and you're running into the same issue originally reported.  Consider this hiera data you have:

[code]

This means `sensu::rabbitmq_password` exists, which will have the same effect as specifying the rabbitmq_password sensu class parameter.  This, in turn, triggers the issue originally reported.

The change in #742 should fix the issue for

[2017-07-13 19:21] #737 closed

[2017-07-13 19:34] ghoneycutt commented on #737
Implemented in v2.23.0

[2017-07-13 22:56] #598 closed

[2017-07-13 22:56] #727 closed

[2017-07-13 23:00] ghoneycutt commented on #727
Thanks everyone! @jeffmccune 's fix is in v2.24.0

[2017-07-13 23:00] ghoneycutt commented on #598
Fix implemented in v2.24.0

[2017-07-14 13:18] ghoneycutt opened #747 "Add a test in vagrant for PR #745"
Show an example of a sensu::check with ensure => false

[2017-07-14 14:13] ghoneycutt commented on #582
@cwjohnston Does Sensu have a need for integers to be cast as strings or to allow an integer with a leading zero?

[2017-07-14 14:19] jeffmccune opened #748 "Add `rake doc` task to generate documentation from inline comments"
Working with the types and providers, there is little documentation for the class and instance methods.   This isn't a huge problem, much of it is self-explanatory, however it would make maintenance of the module much more accessible to have YARD documentation for the types and providers.

As an example, I tend to reach for [this cheatsheet](https://gist.github.com/chetan/1827484) when adding code

[2017-07-14 14:34] jeffmccune commented on #748
For types and providers, this is less useful than I hoped. Puppet::Type.newtype() obscures any inline documentation from YARD because it's nested in a passed block.

[2017-07-14 14:53] ghoneycutt commented on #748
What about https://github.com/puppetlabs/puppet-strings ?

[2017-07-14 15:57] jeffmccune opened #749 "Add client register and registration client configs"
Nearly identical to, #550 the client configuration should support registration attributes.

https://sensuapp.org/docs/latest/reference/clients#registration-attributes

[2017-07-14 15:58] jeffmccune commented on #748
Great idea!  Exactly what I was looking for.

[2017-07-17 18:07] jeffmccune commented on #515
With the use of `Sensitive`, we'll need to drop support for Puppet 4.5.0.

[2017-07-17 21:42] jeffmccune commented on #749
Putting this back in the backlog until #750 is merged into master.

[2017-07-17 21:43] jeffmccune commented on #700
Plan to grab this one on Tuesday.

[2017-07-18 00:10] alvagante commented on #709
@ghoneycutt I can start to work on this, based on the 682-data-types branch

[2017-07-18 19:53] jeffmccune commented on #700
Closing this issue, sensu_gem works fine with `vagrant up win2012r2-client`.  The sensu_gem provider uses the fully qualified path to sensu's embedded gem command, which is robust.  Here's what I did to test the behavior:

[code]

[2017-07-18 19:53] #700 closed

[2017-07-18 20:15] jeffmccune commented on #748
puppet-strings is great, and I'm going to put up a PR adding the rake tasks to generate documentation.

The only gotcha is that helper methods inside of a type or provider block are still not parsed.  I believe this is a result of the meta-programming involved in `Puppet::Type.newtype(:sensu_check) { ... }`.

To handle my original need to document a helper method, the method should be placed into

[2017-07-18 21:26] jeffmccune opened #757 "Refactor inline documentation to puppet strings (yard) format"
After #756 and #682 are merged, the inline documentation needs to be updated to the new `puppet strings` format.  This format is described at https://github.com/puppetlabs/puppet-strings/blob/master/README.md

Potentially out of scope, but helper methods for types and providers should be moved into the PuppetX namespace and have documentation added.

[2017-07-19 17:05] jeffmccune opened #759 "Create a reference implementation for provider spec tests"
The sensu module does a great job of exercising the behavior of Puppet classes, defined types, and the native types in the module.  The providers lack test coverage, however.

The goal of this issue is to create a reference implementation of spec tests covering the behavior of the `sensu_check` provider and the `custom` property specifically.  These spec tests will serve as a foundation to build s

[2017-07-19 17:30] ghoneycutt opened #760 "Vagrant uses an older version of rabbitmq"
puppetlabs/rabbitmq is at 4.1.0 and has been transferred to voxpupuli which is at 5.6.0.

Using the old version throws warnings in our vagrant setup. We should change puppetlabs/rabbitmq to voxpupuli/puppet-rabbitmq and test that all vagrant systems still work as expected.

[2017-07-19 18:52] ghoneycutt commented on #682
Testing against all vagrant instances and making additions in PR #761

[2017-07-19 18:52] #682 closed

[2017-07-19 20:12] ghoneycutt commented on #682
Released in v2.26.0

[2017-07-19 20:51] #748 closed

[2017-07-19 20:52] #463 closed

[2017-07-19 20:53] #550 closed

[2017-07-20 17:00] alvagante commented on #582
So, current situation, after migration to puppet 4 parameters validation, is that when integers are passed as strings they are accepted and should not be converted.
@threadwaste can you verify if you have your issue with current master?

[2017-07-20 17:02] alvagante commented on #709
@ghoneycutt I'd start to work on this, don't know (maybe haven't to privileges) how to label the ticket or self assign.

[2017-07-20 17:28] alvagante commented on #709
Works here: https://github.com/sensu/sensu-puppet/pull/763

[2017-07-20 17:46] ghoneycutt commented on #582
@cwjohnston We need your guidance on what the right thing to do is regarding numbers.

@threadwaste why would you have a number that begins with zero?

[2017-07-21 15:11] #560 closed

[2017-07-21 15:22] cwjohnston commented on #582
@ghoneycutt Sensu implements what we call strong configuration validation, meaning Sensu will refuse to start if it determines configuration is invalid. This extends to a number of configuration attributes where integer values are required, e.g. port numbers, check intervals and keepalive or timeout thresholds. This strong validation does not extend to custom client or check attributes.

I'm not a

[2017-07-21 15:55] Phil-Friderici commented on #578
working on this in PR https://github.com/sensu/sensu-puppet/pull/741

[2017-07-21 16:27] ghoneycutt commented on #582
Thanks @cwjohnston !

@alvagante does this provide enough info to proceed?

[2017-07-21 22:08] jeffmccune opened #764 "Remove sensu_check_config"
Garrett and I discussed this today.  There is confusion surrounding sensu_check_config, the JSON provider doesn't seem to be well-behaved, the type isn't used anywhere in the module, there isn't any documentation, and the sensu::check type appears to provide all the necessary functionality for checks.

One possible situation is sensu_check_config is able to set keys and values at the same level as

[2017-07-21 22:09] jeffmccune commented on #764
Related to #759 but is a separate task unrelated to the reference for provider spec testing.

[2017-07-24 18:23] cwjohnston commented on #764
Sensu is agnostic of custom configuration scopes, so plugins and extensions of all sorts can load Sensu's config on disk and read their settings from arbitrary keys. For example, handler-mailer, handler-mailer-ses and handler-mailer-mailgun plugins in the [sensu-plugins-mailer](https://github.com/sensu-plugins/sensu-plugins-mailer) project look for their configuration under `mailer`, `mailer-ses`

[2017-07-24 21:23] alvagante commented on #582
@ghoneycutt definitively, thank you @cwjohnston
If I've interpreted correctly the approach here I would:
- Accept both integers and numbers in strings for parameters which expect numbers. In any case they are converted to integers in https://github.com/sensu/sensu-puppet/blob/master/lib/puppet_x/sensu/to_type.rb (this is the current status of this PR)
- For the "custom" parameter of "sensu_client_

[2017-07-25 14:33] threadwaste commented on #582
@alvagante Seems like this is down a path, already. But, for context, identifiers like an AWS account number in the client's custom configuration where the intended target type is a string. While I don't have concrete examples of other cases, I could imagine similar types of inputs to say, plugins.

[2017-07-25 14:42] cwjohnston opened #767 "Sensu Enterprise HEAP_SIZE is not configurable"
## Expected Behavior

When using Sensu Enterprise, this module should manage the HEAP_SIZE environment variable defined in `/etc/default/sensu-enterprise`

## Current Behavior

This module does not expose a parameter for managing `HEAP_SIZE`

## Context

Attempting to manage the contents of `/etc/default/sensu-enterprise` or `/etc/default/sensu` outside of this module can lead to unnecessary servi

[2017-07-25 14:44] cwjohnston commented on #767
Note that it's equally reasonable to configure this environment variable via `/etc/default/sensu`, as it will also be evaluated when starting `sensu-enterprise`

[2017-07-25 14:58] #759 closed

[2017-07-25 15:37] alvagante commented on #582
So, commit https://github.com/sensu/sensu-puppet/commit/636b3a87fe7168aae8f19bdeae07effc1c9deab2 removes integer validation and conversion of the keys of the custom parameter hash in sensu_client_config and should avoid cases like the ones mentioned in this issue.
For other numeric params, there's validation on Integer type (or  other Numerics) and strings are converted to integers, so also string

[2017-07-25 15:45] ghoneycutt commented on #578
Thanks for all your help!

Released in v2.28.0

[2017-07-25 15:45] ghoneycutt commented on #759
Thank you! This will really help us expand the provider testing.

Released in v2.28.0

[2017-07-25 16:06] #582 closed

[2017-07-26 13:24] jothoma1 opened #769 "Cannot manage 2008 R2 localised (french)"
## Description of problem

- What did you do?
Using puppet module to manage my sensu clients
- What happened?
On french 2008 R2, sensu-puppet failed. I have some errors :

(for this one, on a french 2008 R2, it should be **Administrateurs**

- What did you expect to happen?
Installing sensu clients and managing them
- How can someone reproduce the problem?
Try to deploy sensu on a french 2008 R2 w

[2017-07-26 17:22] ghoneycutt commented on #769
Thank you for this great bug report! I do not have access to Windows 2008 R2 in French. Could you please try changing this line

https://github.com/sensu/sensu-puppet/blob/master/manifests/init.pp#L700

from

[code]

to

[code]

and reporting back here to see if that fixed it. If so, we can easily solve this for you by making owner/group parameters of the sensu class.

[2017-07-26 17:25] ghoneycutt commented on #760
@Phil-Friderici this is a great one to become a pro with the vagrant setup

[2017-07-26 17:26] ghoneycutt commented on #747
@Phil-Friderici could you please have a look.

[2017-07-26 17:27] #578 closed

[2017-07-26 17:28] ghoneycutt commented on #384
Seems that this is no longer an issue. Please re-open if this is not the case. Thank you!

[2017-07-26 17:28] #384 closed

[2017-07-26 17:28] #701 closed

[2017-07-26 17:29] ghoneycutt commented on #701
Released in v2.22.0

[2017-07-26 17:30] ghoneycutt commented on #566
@cwjohnston do you have PR template or CoC from another Sensu project we can pull in here?

[2017-07-26 18:03] ghoneycutt commented on #515
I'm OK with that as we still support the last five versions.

[2017-07-26 18:03] #599 closed

[2017-07-26 18:10] jeffmccune commented on #764
Working on this now, I'm going to proceed with the approach of adding a `config` property to the sensu_check type and provider, primarily because this retains the modeling of Sensu configuration as Puppet resources, e.g. sensu::check instead of sensu::write_json.  The implementation and spec test coverage for the provider will serve as an example for the other native types, which will reduce the t

[2017-07-26 18:33] jeffmccune opened #770 "Implement self.instances for all native providers"
Each of the native Puppet json providers lacks the `instances` class method, preventing the resource type from working with `puppet resource` and introspection.  This also prevents prefetching from working within Puppet.

While working on the providers, also refactor the use of @conf to instead used @property_hash and @property_flush.  This will bring the providers more in line with the official P

[2017-07-26 20:02] alvagante commented on #767
@cwjohnston please correct me if I'm wrong:
I'm going to add a heap_size param that, if defined, adds to /etc/default/sensu (or /etc/default/sensu-enterprise if used) the line:
HEAP_SIZE=<%= @heap_size %>
I suspect the value might not only be an Integer (ie 256M) so validation should be for a normal string.

Please confirm or correct me.

[2017-07-26 20:07] cwjohnston commented on #767
@alvagante I believe you are correct, HEAP_SIZE should allow a string value so the suffix can indicate unit of measure.

FWIW, HEAP_SIZE has no effect on Sensu Core (sensu-server), only on Sensu Enterprise.

[2017-07-26 20:26] alvagante commented on #767
@cwjohnston thanks for quick reply. The commit (blind code, still not tested on real vm) done modifies the file for both, as the same template is used.
If you want I can remove the changes in https://github.com/alvagante/sensu-puppet/commit/7f706f6d727be6abb46905ce44a51d6fc8e36f55#diff-1576180ba8964fff8d837b3256127ebc so that in sensu-core even if heap_size is set, it does not appear in /etc/defau

[2017-07-26 21:24] ghoneycutt commented on #767
Prefer to keep it as a param in init.pp and just document that it is only for the enterprise software.

[2017-07-26 21:28] alvagante commented on #767
@ghoneycutt so is the current implementation, even if it has a redundant parameter in sensu::package.
If you want I can remove sensu::package::heap_size, and relevant tests, otherwise https://github.com/sensu/sensu-puppet/pull/771 should be ready to merge

[2017-07-26 21:38] #767 closed

[2017-07-26 21:47] ghoneycutt commented on #767
Released in v2.30.0

[2017-07-26 22:27] ghoneycutt opened #772 "Client config should support ec2"
https://sensuapp.org/docs/latest/reference/clients.html#ec2-attributes

[2017-07-26 22:28] ghoneycutt opened #773 "Client config should support chef"
https://sensuapp.org/docs/latest/reference/clients.html#chef-attributes

[2017-07-26 22:28] ghoneycutt opened #774 "Client config should support puppet"
https://sensuapp.org/docs/latest/reference/clients.html#puppet-attributes

[2017-07-26 22:28] ghoneycutt opened #775 "Client config should support servicenow"
https://sensuapp.org/docs/latest/reference/clients.html#servicenow-attributes

[2017-07-26 22:29] ghoneycutt opened #776 "Client config should support http_socket"
https://sensuapp.org/docs/latest/reference/clients.html#http-socket-attributes

[2017-07-26 22:36] ghoneycutt opened #777 "Auto generated documentation should show up as a GitHub page"
We should generate our documentation with each release and have it update GitHub Pages. The existing README should be refactored such that it includes examples while linking to the generated docs for parameters.

https://github.com/puppetlabs/puppet-strings#output-documents-to-github-pages

[2017-07-26 23:18] #777 closed

[2017-07-27 07:30] SergK opened #781 "[puppetlabs/apt] Version bumping for apt module"
## Description of problem

- Reproduced with  module version > v2.5.0
- Using sensu module with other third party modules failed because of dependency issue

I have a number of modules which have requirements on apt module, e.g (puppet-grafana, locp-cassandra):

[code]
that is why using requirements from sensu module breaks this dependecy since

[code]

So I wonder about this change https://github

[2017-07-27 08:39] jothoma1 commented on #769
Hi,
Yes it's working when i change to `$group = 'Administrateurs'`
I have a lot of sensu clients, some are 2012 R2 in english, some are 2008 R2 in french...
Thanks in advance !

[2017-07-27 16:03] jothoma1 opened #782 "When removing a check, sensu service not refresh"
## Description of problem

- What did you do?
I'm trying to remove a check with

- What happened?
It works but it did not refresh the service sensu-client
- What did you expect to happen?
Refresh the service in order to have the good configuration.
- How can someone reproduce the problem?
1) Create a check
2) try to remove it with ensure => absent
3) sensu has not refresh so the check is still pre

[2017-07-27 16:46] jeffmccune commented on #764
@cwjohnston After spending a little time looking into a config property, I think you're suggestion of using sensu_write_json() is way better.  There are a bunch of edge cases around the merging of an arbitrary config map with all the other properties, especially the `custom` property which itself is an arbitrary map.  Adding `config` significantly increases complexity of the types, whereas refacto

[2017-07-27 18:33] jeffmccune opened #783 "Modify sensu::check to use defined type sensu::write_json instead of native type sensu_check"
In an effort to support arbitrary configuration scopes for plugins and extensions as mentioned in #764, the goal of this card is to implement a new parameter to the sensu::check defined type.  This parameter needs a reasonable name (`config` is too generic and over-loaded).  The desired behavior is  to have the new parameter merged with all other parameters to produce a single, top-level JSON obje

[2017-07-27 19:49] ghoneycutt commented on #783
How about `content` since that's what we are effectively setting with the data. Eventually `custom` and the other parameters will go away and all data will use the single parameter. We can use the struct data type for validation.

[2017-07-27 20:36] jeffmccune commented on #783
I like it.  The best I came up with was `additional` and content is way better.

[2017-07-27 22:06] cwjohnston opened #784 "Sensu Enterprise API SSL attributes are incorrectly configured"
## Description of problem

- What did you do?

Configured` api_ssl_port`, `api_ssl_keystore_file` and `api_ssl_keystore_password` parameters

- What did you expect to happen?

Expected rendered configuration to match [documented Sensu Enterprise SSL attributes](https://sensuapp.org/docs/1.0/enterprise/api.html#ssl-attributes-example). e.g.

[code]

- What happened?

API SSL parameter values were r

[2017-07-28 18:43] ghoneycutt commented on #781
@SergK Thank for reporting this. It seems the issue is with your dependency tree and not with the dependencies within this module.

Supporting multiple major versions of a dependency is not something we are willing to do, as each major version can introduce breaking changes.

If you still want to use the older version and are having issues with `puppet module install`, suggest using a tool to mana

[2017-07-28 18:43] #781 closed

[2017-07-28 20:27] ghoneycutt opened #786 "sensu::plugin does not work on windows without specifying install_path"
sensu::plugin::install_path defaults to `/etc/sensu/plugins`. While you can set that if you use windows, the module should do the right thing.

We should default `install_path` to undef and in the defined type have a conditional that sets `install_path_real` to use a default if the value is undef.

This needs a `sensu::plugin` addition to `tests/sensu-client-windows.pp` where install_path is not s

[2017-07-31 22:45] #784 closed

[2017-07-31 22:51] ghoneycutt commented on #777
Released in v2.30.1

[2017-07-31 22:52] ghoneycutt commented on #784
Thanks @cwjohnston for the great bug report.

Released in v2.30.1

[2017-08-01 00:12] Justin-DynamicD opened #788 "minimum apt version wall"
##minimum apt version wall
As of 2.5.0 and later,  sensu-sensu now requires puppetlabs-apt > 4.0.0.  This is a breaking requirement change for me (and I assume other puppet users) as there are LOTS of modules out there that still have a <3.0.0 requirement putting us in a "which module is more important" scenario.   Some modules are even useful/critical for sensu itself like  puppet-grafana (>=2.1.

[2017-08-01 07:52] SergK commented on #788
@Justin-DynamicD Hi, I've raised the same question https://github.com/sensu/sensu-puppet/issues/781 , so unfortunately, as workaround, I forked repo and revert the change which introduced this change.

[2017-08-03 08:46] Phil-Friderici commented on #786
Used the same logic as in main class [1] to specify install_path.
Changed the call of sensu::plugin in the main class to not specify install_path anymore.

Will continue to work on the vagrant part to validate install_path in ```tests\sensu-client-windows.pp```.

[1] https://github.com/sensu/sensu-puppet/blob/v2.30.1/manifests/init.pp#L487-L490

[2017-08-03 16:01] #786 closed

[2017-08-06 17:50] Justin-DynamicD commented on #788
the response of "wont fix" seems poorly thought through.  If the devs are reading this I'd like to once again point out that the following module is basically _needed_ to manage sensu with puppet yet cannot coexist with this module anymore:

puppetlabs-rabbitmq

Won't fix basically means "this module is broken until rabbitmq folks update".  That's a pretty big issue.

[2017-08-07 00:31] ghoneycutt commented on #788
Perhaps there is some confusion as @Justin-DynamicD stated that we require apt > 4 though it is actually >= 4

https://github.com/sensu/sensu-puppet/blob/master/metadata.json#L64

This is supported by puppetlabs-rabbitmq

https://github.com/voxpupuli/puppet-rabbitmq/blob/master/metadata.json#L51

[2017-08-07 00:38] ghoneycutt commented on #788
Created https://github.com/voxpupuli/puppet-grafana/pull/53 to help with the grafana module.

[2017-08-07 09:51] madAndroid commented on #788
We're experiencing this as well... according to the style guide, soft dependencies shouldn't be declared in the `metadata.json` => https://docs.puppet.com/puppet/latest/style_guide.html#dependencies.

Since this is a dependency only for Debian `osfamily`, is this regarded as a hard depedency?

[2017-08-09 16:15] agoddard opened #790 "Default linux path not working on Windows with $has_cluster"
[code]

This doesn't work on windows when variable $has_cluster in manifests/rabbitmq/config.pp is true. I get this error:

[code]

[2017-08-09 16:19] ghoneycutt commented on #788
It is on Debian :>

I agree that it's not a hard dependency as folks running this on Windows certainly don't need to install the apt module.

[2017-08-09 16:20] ghoneycutt opened #791 "Remove apt module from metadata"
The apt module is a soft dependency. It should be removed from the metadata, though noted in the README.

[2017-08-09 16:20] ghoneycutt commented on #788
Created #791 to remove apt from the metadata as a dependency.

[2017-08-09 16:22] ghoneycutt commented on #788
@Justin-DynamicD did you see my notes above? I think you might be running an old version of rabbitmq.

[2017-08-09 16:51] Justin-DynamicD commented on #788
Perhaps the notes are out of date, but if you hit the site:
https://forge.puppet.com/puppetlabs/rabbitmq/dependencies

"puppetlabs/apt (>=1.8.0 <3.0.0)".

So I'm basing my concern there.

[2017-08-09 17:23] alvagante commented on #757
@ghoneycutt  going to start with this, so that I learn better the module params ;-)
Can't self assign it, anyway.

[2017-08-10 18:28] SergK commented on #788
Regarding rabbitmq, yes, they bump apt module version, but haven't `release it` yet, so it's on master branch only

[2017-08-14 18:04] ghoneycutt commented on #786
Released in v2.31.0

[2017-08-14 18:05] ghoneycutt commented on #791
Released in v2.31.0

[2017-08-14 18:05] #791 closed

[2017-08-14 18:06] ghoneycutt commented on #788
We dropped apt as a hard dependency in v2.31.0

[2017-08-14 18:06] #788 closed

[2017-08-14 18:09] madAndroid commented on #788
@ghoneycutt - awesome, thank you

[2017-08-14 19:07] ghoneycutt commented on #760
The module is still known as puppetlabs-rabbitmq

[2017-08-14 19:09] #760 closed

[2017-08-15 07:33] alvagante commented on #769
@jothoma1 is there a fact that can reveal what's the language used on the system?

[2017-08-15 18:18] jeffmccune commented on #764
Next steps on this are to get #785 merged, let it bake in the community, then remove `sensu_check_config`, replaced by the content parameter of sensu::check.

[2017-08-15 22:15] #566 closed

[2017-08-17 14:02] sblatt opened #798 "Absolute path set for rabbitmq ssl certs"
https://github.com/sensu/sensu-puppet/blob/438fbaa2e3d92db192bce1c83afb97d2c445d059/manifests/rabbitmq/config.pp#L41
should include ${ssl_dir} wherever /etc/sensu is used. Might mainly affect Windows.

Affects multiple occurrences.

[2017-08-18 18:38] #783 closed

[2017-08-18 18:45] ghoneycutt commented on #783
Released in v2.32.0

[2017-08-18 19:51] ghoneycutt commented on #790
@alvagante this is high priority, could you please look into it?

[2017-08-21 14:29] alvagante commented on #790
@ghoneycutt sorry, seen it just now. Going to work on it now.

[2017-08-23 03:39] #790 closed

[2017-08-23 03:48] ghoneycutt commented on #790
Fixed in v2.33.0

[2017-08-24 14:28] ghoneycutt opened #801 "Checks not working as expected"
From @alvagante

@ghoneycutt I think the error is due to how checks files are created:
if a single check is added in a conf.d/checks/ file then the json file should begin with:
[code]
and not
[code]

manually changing the files in conf.d/checks/ on the Vagrant sensu-server vm allows the api service to start.

[2017-08-24 14:28] ghoneycutt commented on #801
@agoddard This seems like a sensu bug if you cannot specify `checks` with only a single check. The docs lead you to believe that the plural form is correct.

[2017-08-24 20:31] agoddard commented on #801
@ghoneycutt it should be `checks` and not `check`, and a single key within `checks` should work - what was the error you saw?

Here's my config for my test:

[code]

and here's the log showing the config in use:

[code]

[2017-08-24 20:41] alvagante commented on #801
@agoddard so, I'm finding this behaviour on the sensu-server vagrant vm of the puppet module .
3 files are created under /etc/sensu/conf.d/checks.

They are like this:
[code]
and I get these errors:
[code]

If I change the above file to :
[code]
the api service starts.
Package installed is sensu-1.0.2-1.el7.x86_64

[2017-08-24 21:17] agoddard commented on #801
@alvagante ah! ok cool, that makes sense - `check` isn't a config option, so it's being ignored in the second example, which means the config options under it are not being validated (so with no validation issues, the API service starts but the check won't run).
The root issue is that the value for "handlers" is not an array in the broken example. It either needs to always use `handlers` and alway

[2017-08-24 21:38] alvagante commented on #801
@agoddard great, now everything is clearer (sorry but my sensu experience is still basic).
@ghoneycutt @jeffmccune I think we have to enforce an array somewhere here: https://github.com/sensu/sensu-puppet/blob/master/manifests/check.pp#L176
given that we accept also normal strings for the handler parameter (https://github.com/sensu/sensu-puppet/blob/master/manifests/check.pp#L97 which reproduces t

[2017-08-24 21:59] ghoneycutt commented on #801
Can you correct this by casting the string as an array? Also if a string is detected, we should not that it's deprecated and to switch to using an array.

[2017-08-24 22:32] alvagante commented on #801
Yes, if I pass an array it works, same applies to subscribers (and probbaly aggreagates, but haven't tested directly).
We can check for the type, send deprecation notices and pass always an array. Can do this tomorrow,  night time here..

[2017-08-25 19:51] alvagante commented on #801
FYI: in the pr I convert string to array (with deprecation notice) to the following check params :se configs for the following parameters: handlers, subscribers, aggregates, contacts, dependencies.

This somehow reproduces the params of the old sensu_check type.

[2017-08-28 00:26] #801 closed

[2017-08-28 00:35] ghoneycutt commented on #801
Released in v2.33.1

[2017-08-30 06:11] alvagante commented on #757
#792 merged, ticket can be closed.

[2017-08-30 06:11] #757 closed

[2017-08-30 06:13] alvagante commented on #709
Relevant PR #763 merged. Closing issue.

[2017-08-30 06:13] #709 closed

[2017-08-30 13:49] ghoneycutt commented on #515
Puppet does not yet have the ability to test the usage of the Sensitive data type. Without this, we can't test and ultimately support it. Once this is testable, let's support it.

[2017-08-30 13:49] #515 closed

[2017-08-30 13:55] ghoneycutt commented on #769
@alvagante instead of making an exception for the french language, let's just expose user and group as parameters with the defaults that we currently use in the code. Then the end users can change the group as they please.

[2017-08-30 15:51] alvagante commented on #776
@ghoneycutt FYI, starting to work on this

[2017-08-31 21:21] #776 closed

[2017-09-01 06:41] alvagante commented on #775
Starting to work on this... @ghoneycutt

[2017-09-05 10:56] htallur opened #809 "transport.json not created when transport_type = rabbitmq"
## Description of problem
transport.json is not created

incorrect logic in transport.pp
-----------
  if $::sensu::transport_type != 'redis' {
    $ensure = 'absent'
  } else {
    $ensure = 'present'
  }
-------------

ensure = 'absent',  when transport_type = 'redis' in transport.pp

[2017-09-05 21:43] alvagante commented on #809
@htallur what's the expected behaviour? I suppose that a transport.json has to be created in any case , both with redis and rabbitmq transport .

I can eventually add a parameter $ensure to the sensu::transport class, to allow users to eventually force the removal of transport.json

[2017-09-06 00:59] #772 closed

[2017-09-06 01:21] ghoneycutt commented on #772
Released in v2.35.0

[2017-09-06 01:21] ghoneycutt commented on #773
Released in v2.35.0

[2017-09-06 01:21] #773 closed

[2017-09-06 01:21] ghoneycutt commented on #774
Released in v2.35.0

[2017-09-06 01:21] #774 closed

[2017-09-06 01:21] ghoneycutt commented on #775
Released in v2.35.0

[2017-09-06 01:21] #775 closed

[2017-09-06 01:21] ghoneycutt commented on #798
Released in v2.35.0

[2017-09-06 01:21] #798 closed

[2017-09-06 01:23] ghoneycutt commented on #749
@alvagante could you please pick this up? This will be the last of the items for us to achieve parity with the functionality in Sensu!

[2017-09-06 01:57] ghoneycutt commented on #747
This is needed for Issue #782

[2017-09-06 08:15] Phil-Friderici commented on #747
Oops, completely lost this, will have a look tomorrow.

[2017-09-07 14:02] #769 closed

[2017-09-15 10:09] deric commented on #708
@ghoneycutt FYI PA-515 has been resolved.

[2017-09-15 14:44] ghoneycutt commented on #708
@deric We're waiting on Sensu to provide Stretch packages

https://github.com/sensu/sensu/issues/1718

[2017-09-18 16:15] #747 closed

[2017-09-19 16:08] ghoneycutt opened #815 "Cyclical dependencies when using Sensu Enterprise and the Enterprise API"
## Description of problem

- What did you do?

Brought up `sensu-server-enterprise` vagrant VM and applied the code below.

- What happened?

Got an error about a cyclical dependency

[code]

- What did you expect to happen?

No error.

- How can someone reproduce the problem?

Apply this puppet code. Note that `FACTER_SE_USER` and `FACTER_SE_PASS` environment variables need to be populated.

[cod

[2017-09-19 18:55] glarizza commented on #542
Hopping on this ticket to replicate and see what I can update - is this still a problem for all involved with the recent module changes (presuming so but asking just to be sure).  Does anyone have any code they're using to replicate this issue (I'm presuming install a specific version with all plugins, specify a new version, and then observe)?

[2017-09-19 20:47] ghoneycutt commented on #542
@agoddard Any thoughts on how we can reproduce? Should the sensu package itself handle this so gems with the old version are attempted to be reinstalled?

[2017-09-19 21:47] glarizza commented on #815
It looks like the sensu_enterprise_dashboard_api_config type has code to automatically setup a notify (https://github.com/sensu/sensu-puppet/blob/master/lib/puppet/type/sensu_enterprise_dashboard_api_config.rb#L11-L15) on the sensu-enterprise-dashboard service.  When you use the Sensu::Enterprise::Dashboard::Api defined type, it's defining a sensu_enterprise_dashboard_api_config instance as well a

[2017-09-20 16:53] glarizza commented on #815
Sure, that makes sense when there's no reason for those to stand alone (i.e. you're not doing multiple OSes).  I'm going to continue working a couple of angles to find the best way to handle it

[2017-09-20 23:44] glarizza commented on #542
As I understand it, plugins to Sensu's embedded ruby installation are installed via package resources with the `sensu_gem` provider included in this module:

[code]

The `sensu_gem` provider installs into `/opt/sensu/embedded`, and the version that I pulled up has gems installed within `/opt/sensu/embedded/lib/ruby/gems/2.4.0/gems` because the current version of Sensu uses Ruby MRI 2.4 . Problems

[2017-09-21 00:33] ghoneycutt commented on #542
+1 to this approach. Excited to hear how it works out with your functional testing.

[2017-09-21 17:35] ghoneycutt commented on #542
Great work!

Could we have a simple shell script that does what you are doing and tests that output of the last puppet apply? That would give a quick way to functionally test this in the future to ensure we don't have regressions.

[2017-09-21 17:41] agoddard commented on #542
Sorry, I thought I’d commented the other day but I guess I’d left it w/out submitting it - the way we’ve seen this done before is to have the plugin installation tasks run after the package installer, wherein it checks the embedded gem’s installed gems, and any that are missing are installed. This works on the first install and if gems are uninstalled manually on the box, as well as if the embedde

[2017-09-21 17:45] glarizza commented on #542
@ghoneycutt The problem is that because those service resources fail to start on the downgrade the exit code reflects that. I can write up the script so a human can review it for regressions, but automating that check will be hard because of the exit code.  A Beaker test might be better if you want to automate that check, and I'll look at that next

[2017-09-21 18:21] ghoneycutt commented on #542
@glarizza the existing beaker tests are very outdated and should be removed, don't use those.

[2017-09-21 18:22] glarizza commented on #542
@ghoneycutt Good to know, I'll focus my efforts on the script

[2017-09-21 18:57] glarizza commented on #542
@agoddard What you wrote is the same angle I ended up taking, so that works out.  Can you tell me if the sensu-enterprise service (or anything on the Enterprise side) needs to be refreshed on plugin changes or if the client/server/api are the only services that would need refreshed?  Basically, do we have to do anything extra on the enterprise side that I haven't already done?

[2017-09-21 20:26] glarizza commented on #542
@ghoneycutt Validation script was added in ebeeeef and is on the PR

[2017-09-21 22:09] glarizza commented on #542
Tests are failing on some rspec-puppet tests because of the last line:

[code]

On cases where the api or client hasn't been installed there won't be any resources for the `sensu-api` or `sensu-client` service.  In its place I can do something like this:

[code]

That collector will discover the resources if they're there and setup the dependencies, or exit silently if they're not in the catalog.

[2017-09-27 11:48] bodgit opened #819 "Running Sensu on Windows as a specific account"
I have a need to run Sensu on Windows with a different account to the default LocalService/LocalSystem that it uses by default. This would require registering the service with some different Powershell that looks something like this:
[code]
This doesn't strike me as something very idempotent if one were to change the account details after the service has already been registered.

Would it make sen

[2017-09-27 13:48] ghoneycutt commented on #819
Hi @bodgit

We do expose the parameters, `manage_user` along with `sensu_user` and `sensu_group`. Would that work for you?

[2017-09-27 16:16] bodgit commented on #819
I notice on Windows that parameter doesn't do anything, there's just a `notice()`, however I'm not sure it would help anyway as you would still need to register the service with the user you wish to run Sensu as and also I need to run Sensu as a user that already exists in Active Directory. Being able to pass `sensu_user` at least means I can theoretically make the files owned by that same AD acco

[2017-10-02 13:34] bodgit opened #820 "Roundrobin subscriptions on Windows aren't configured"
## Description of problem

- What did you do?

Applied the following on a Windows host:
[code]
- What happened?

A zero-length file `C:\opt\sensu\conf.d\subscription_roundrobin` is created

- What did you expect to happen?

The subscription should be created, with a suitable filename.

- How can someone reproduce the problem?

It looks like the subscription name should be sanitised as while the `:

[2017-10-02 20:36] htallur opened #821 "sensu module failing on amazon linux as it is pointing to a incorrect yum repo http url which doesn't exist"
## Description of problem
## failure: repodata/repomd.xml from sensu: [Errno 256] No more mirrors to try.
https://sensu.global.ssl.fastly.net/yum/latest/x86_64/repodata/repomd.xml: [Errno 14] HTTPS Error 404 - Not Found

#- What did you do?
- try to install sensu agent on amazon linux using puppet run.

#- What happened?
- $releasever variable not pointing to the correct value on amazon linux. whi

[2017-10-02 21:57] ghoneycutt commented on #821
Thanks for the great bug report! Looking into adding support for Amazon Linux.

[2017-10-02 21:58] ghoneycutt commented on #821
enhancement tag added so that we officially support Amazon Linux 2017.

[2017-10-02 22:37] benh57 opened #822 "Add support for Windows 10"
## Description of problem

- What did you do?
Attempt to install sensu client on windows 10 using the puppet module.

- What happened?

Fails to install from  https://repositories.sensuapp.org/msi/10/sensu-1.0.0-1-x64.msi

This is because the module uses the os.major version as the url dir which does not exist on the sensu repository.

## Platform and version information

- Your OS: Windows 10 Ent

[2017-10-02 23:28] ghoneycutt commented on #822
Thank you for reporting this! We do not currently support Windows 10, though would be glad to do so. In order for us to support it, we would need it to work under Vagrant so it could be tested.

Is Windows 10 newer than 2012? That seems to be how it is differentiated at https://sensuapp.org/downloads

Should it just use the 2012r2 package?

There would need to be `win10-client` added, similar to `

[2017-10-02 23:41] benh57 commented on #822
Yes, I am testing using my own Vagrantfile and windows 10 box. But i can try out the one that comes with the module if i get time.

 I thought windows 10 was be closer to 2016 than 2012r2 so I chose that one, but you're right they don't seem to link to it on the downloads page. I'm not sure of the differences on the sensu side.  They have 2016 MSI's published here: https://repositories.sensuapp.or

[2017-10-03 12:47] bodgit commented on #819
I've created #823 which contains the changes I've made to get things working.

[2017-10-06 20:05] jplindquist opened #825 "Allow for management of file and directory permissions"
## Description of problem

- `$dir_mode` and `$file_mode` are both initialized, and set to their respective defaults depending on the OS [here](https://github.com/sensu/sensu-puppet/blob/master/manifests/init.pp#L535-L568).  This could be improved upon by having a configurable option within the class which defaults to the same values if not explicitly defined so it's backwards compatible.   This w

[2017-10-17 01:00] csoleimani opened #827 "Sensu Enterprise Service Not Reloading After Checks"
- What did you do?
**Adding a new check or change a check**
- What happened?
check definition changed, but the sensu-enterprise was not restarted/reloaded
**- What did you expect to happen?**
**the sensu-enterprise service to get restarted/reloaded**

- How can someone reproduce the problem?
**add a new check or change an existing check with sensu-enterprise**

## Command used and debugging output

[2017-10-19 01:02] benh57 commented on #822
FWIW , it looks like this also breaks on Windows 7.  It tries to get the pkg from /msi/7 which doesn't exist.

[2017-10-19 01:04] benh57 commented on #822
I'm not really sure why they have OS-specific packages for Windows. It should work on any.

[2017-10-20 18:35] ghoneycutt commented on #769
Released in v2.36.0

[2017-10-20 18:35] ghoneycutt commented on #747
Released in v2.36.0

[2017-10-23 17:22] #749 closed

[2017-10-23 17:24] #809 closed

[2017-10-23 17:32] ghoneycutt commented on #749
Released in v2.37.0

[2017-10-23 17:33] ghoneycutt commented on #809
Released in v2.37.0

[2017-10-23 17:34] ghoneycutt commented on #827
We've released a fix for this. Please try the newest release of the module and re-open if this is still an issue.

Thanks @csoleimani

[2017-10-23 17:34] #827 closed

[2017-10-23 17:35] ghoneycutt commented on #822
@agoddard Can you speak to the OS specific packages for Windows?

[2017-10-23 18:34] agoddard commented on #822
@ghoneycutt @benh57 we had to split up newer & older versions of Windows due to .NET dependency differences

[2017-10-23 18:42] benh57 commented on #822
Surely the installer could detect and handle that?

[2017-10-23 18:52] agoddard commented on #822
@benh57 it definitely would be nice if it could. I've opened an issue on the Sensu-omnibus project to see if it's possible: https://github.com/sensu/sensu-omnibus/issues/234

[2017-10-24 10:30] alvagante commented on #825
@jplindquist I'm always in favour of modules "extreme" reusability (so that users don't have to fork them to be able to fit more or less special use cases) so I think a PR with updated docs and tests would be welcomed, what do you think @ghoneycutt ?

[2017-10-24 10:31] alvagante commented on #821
@ghoneycutt I can fix this one if nobody else is working on it

[2017-10-24 10:32] alvagante commented on #815
I suppose this one can be closed now @ghoneycutt

[2017-10-24 16:57] ghoneycutt commented on #825
@jplindquist Thank you for submitting this!

I would like the sensu package to handle that with regards to the files it manages under /opt/sensu, so I would not want to do any kind of recursion through that.

Allowing people to specify their own defaults for /opt/sensu, /etc/sensu, etc would certainly be welcomed. The default values should be default for the whole module and not OS specific and sh

[2017-10-24 16:58] ghoneycutt commented on #821
@alvagante Thank you!

[2017-10-24 16:59] ghoneycutt commented on #815
Thanks @glarizza @alvagante

[2017-10-24 16:59] #815 closed

[2017-10-24 19:01] alvagante commented on #821
@htallur so here we have the usual dilemma of figuring our what base Rhel version to use for packages on amazon ami , in this case for sensu. I would try with the 7 one, and change in /etc/yum.repos.d/the string \$releasever with just 7. If then installation works well for you, I can puppettize it.
Will test this on aws anyway, but maybe you've quicker feedbacks.

[2017-10-24 19:12] htallur commented on #821
if I replace $releasever with 7, sensu repo works but not default amazon repo's.

-------
# yum repolist
Loaded plugins: priorities, update-motd, upgrade-helper
Could not retrieve mirrorlist http://repo.us-west-2.amazonaws.com/7/main/mirror.list error was
14: HTTP Error 403 - Forbidden
Could not retrieve mirrorlist http://repo.us-west-2.amazonaws.com/7/updates/mirror.list error was
14: HTTP Error

[2017-10-24 19:17] alvagante commented on #821
@htallur  I intended to place the 7 ONLY on the sensu yum repo files, the others should remain as is

[2017-10-24 19:21] alvagante commented on #821
@htallur and then if you have problems with version 7, try to change it to 6.
Point is what dependencies the sensu packages have and if they can coexists with the versions of software installed on amazon os.
If both 6 and 7 don't allow youto install working packages, then I suppose the problem has to be raised to Sensu packagers.

[2017-10-24 19:29] htallur commented on #821
gotcha, I have now changed the value of $releasever to 7 in yum.conf .
and it worked, baseurl=https://sensu.global.ssl.fastly.net/yum/7/$basearch/.

I guess you can go ahead and puppetize the update, as puppet is reverting the change to $releasever.

[2017-10-24 20:02] alvagante commented on #821
Hei @htallur please verify if the linked fix actually does the expected job.
We might want to add correct data for other, older, Amazon Linux versions, but this should be ok for current ones.

Will add tests, and make a PR in the next days.

[2017-10-24 21:36] htallur commented on #821
its able to download the required packages, but puppet run failed at a later stage of restarting sensu-client

Error: Could not start Service[sensu-client]: Execution of '/sbin/service sensu-client start' returned 1: sensu-client: unrecognized service
Error: /Stage[main]/Sensu::Client::Service/Service[sensu-client]/ensure: change from stopped to running failed: Could not start Service[sensu-client

[2017-10-25 12:01] alvagante commented on #821
@htallur did the sensu service start when you manually edited, before this patch, the sensu yum repo file and installed the package? If so, what was the sensu service name you used (sensu-client?)?

[2017-10-25 15:50] ghoneycutt commented on #821
@alvagante You could use this virtualbox to test Amazon Linux 2017.03

https://app.vagrantup.com/mvbcoding/boxes/awslinux

Or could use the aws provider plugin and have our Vagrant actually talk to AWS.

https://github.com/mitchellh/vagrant-aws

[2017-10-25 18:07] htallur commented on #821
@alvagante sensu packages were not even installed before the patch.

[2017-10-25 20:21] alvagante commented on #821
@htallur so I've tested on the vangrant box suggested by @ghoneycutt and actually we need packages for Rhel version 6. This PR https://github.com/sensu/sensu-puppet/pull/833 has the correct fix, package is installed and service is started.
Amazon is systemd free and packages for RHEL 7 rely on systemd.

[2017-10-26 20:41] #821 closed

[2017-10-26 20:46] ghoneycutt commented on #821
Thanks for all the hard work @htallur and @alvagante

Released in v2.38.0

[2017-10-26 20:58] ghoneycutt opened #834 "redact parameter causes errors"
## Description of problem

- What did you do?

Attempted to use redact by setting the redact parameter to the sensu class with the value `["password", "passwd", "pass", "api_key", "api_token", "access_key", "secret_key", "private_k
ey", "secret", "ec2_access_key", "ec2_secret_key"], `

- What happened?

Catalog compilation fails.

- What did you expect to happen?

For the catalog to compile and re

[2017-10-30 16:41] alvagante commented on #834
So @ghoneycutt I've explored a bit the issue.
It looks like it's not related only to redact parameter but also to subscribers, and I suspect, any parameter on the sensu class which is used in sensu::client where an array (but not an hash) is expected as argument, and there's no default, even empty, set.

The referenced commit sets an empty array as default value for redact, and this creates in /et

[2017-10-30 17:37] alvagante commented on #834
Ok, after some digging,  https://github.com/alvagante/sensu-puppet/commit/9206f0f62705eed732f14c4c52acb753a66e4f3b seems to fix the problem. But since is mostly a copy and paste with limited introspection, I'd ask for @jeffmccune opinion.

[2017-11-01 14:43] dzeleski opened #836 "Implement hooks"
Currently it appears this module does not support hooks. As this was released in 1.1 I assume others will start wanting to use it at some point. We are trying to start testing them now which is how we ran into it. Basically just wanted to get this open to track the feature, I will attempt to get a PR going if I have some free time later this week.

[2017-11-01 14:48] ghoneycutt commented on #836
Thanks for letting us know, much appreciated!

[2017-11-02 15:40] #834 closed

[2017-11-02 15:49] ghoneycutt commented on #834
Released in v2.38.1

[2017-11-04 20:37] alvagante commented on #836
@dzeleski Please give a look to the linked commit and possibly let me know if it does all you need.
I've tested it locally, with sample hooks data similar to the documentation example, and it behaves as expected, but a double check from real world use cases would be welcomed.

[2017-11-06 21:59] dzeleski commented on #836
Getting an unrelated error:

`change from 'NT AUTHORITY\SYSTEM' to 'sensu' failed: Could not find group sensu`

`/etc/puppetlabs/code/environments/lab/modules/sensu/manifests/transport.pp:21`

We are currently using an older version of the module, I assume there is a var somewhere that is not getting passed correctly on windows as that group wont work. I have not dug into it just yet but was your

[2017-11-06 22:06] dzeleski commented on #836
Looks like the transport class is not using the platform specific var?

https://github.com/sensu/sensu-puppet/blob/master/manifests/transport.pp#L23

Needs to look something like this:
[code]

[2017-11-06 22:07] ghoneycutt commented on #836
@dzeleski please open a separate issue for this. Please use the current version, v2.38.1, before submitting.

[2017-11-06 22:11] dzeleski opened #838 "Transport class does not use platform specific user and group"
The following occurs on windows:
`change from 'NT AUTHORITY\SYSTEM' to 'sensu' failed: Could not find group sensu`

`/etc/puppetlabs/code/environments/lab/modules/sensu/manifests/transport.pp:21`

Looks like the transport class is not using the platform specific var?

https://github.com/sensu/sensu-puppet/blob/master/manifests/transport.pp#L23

Needs to look something like this:
[code]

[2017-11-06 22:16] dzeleski commented on #836
Done, added PR. Have not tested and I will not be able to until first thing tomorrow as I have to leave the office here in a few min.

[2017-11-07 14:23] csabo commented on #836
@alvagante dzeleski tested the hook functionality last night and it worked.

[2017-11-07 14:56] dzeleski commented on #836
@csabo there are further updates in #837

[2017-11-07 17:03] #836 closed

[2017-11-07 17:10] ghoneycutt commented on #836
Thank you everyone for your help getting this implemented!!

Released in v2.39.0

[2017-11-08 18:18] #838 closed

[2017-11-08 18:29] ghoneycutt commented on #838
Released in v2.40.0

[2017-11-08 18:30] ghoneycutt commented on #838
Released in v2.40.0

[2017-11-13 17:09] rgeniesse opened #842 "Feature Request: Ability to manage userOptions in dashboard.json"
## Description of feature

Feature request for the ability to manage userOptions in dashboard.json.

## Anything else to add that you think will be helpful?
While only called out in the Uchiwa (open source dashboard) documentation, I have shown on my own Enterprise Dashboard test server that adding these options are honored. The example here is `requireSilencingReason` only as that is all I am usi

[2017-11-13 18:36] ghoneycutt commented on #842
Thanks for reporting! This might be more useful in the Uchiwa project itself at https://github.com/Yelp/puppet-uchiwa

[2017-11-13 21:57] rgeniesse commented on #842
Yes, I was sorta torn where to actually open it as the feature would span both projects. Uchiwa could use it, but this module covers the Sensu Enterprise Dashboard configuration already so felt like here was the best spot for my use case.

I don't know enough about these modules to know if it is solved in one place, that means it could be brought over to the other easily.

I'll gladly open one the

[2017-11-17 17:47] ghoneycutt opened #844 "switch from puppetlabs/rabbitmq to puppet/rabbitmq"
Our docs and tests use puppetlabs/rabbitmq which is deprecated in favor of puppet/rabbitmq (Vox Pupuli)

[2017-11-17 17:47] ghoneycutt commented on #844
Hi @alvagante this is a high priority for us

[2017-11-17 20:00] alvagante commented on #844
@ghoneycutt ok, will give it s look in the weekend

[2017-11-21 19:08] alvagante commented on #820
@ghoneycutt giving a look to this

[2017-11-22 17:37] alvagante commented on #844
@ghoneycutt this https://github.com/sensu/sensu-puppet/pull/848 should make rabbitmq work on the local vagrant environment, with puppet/rabbitmq module

[2017-11-23 00:47] cwjohnston opened #849 "MAX_OPEN_FILES should be configurable for Sensu Enterprise"
## Description of problem

Sensu Enterprise uses the value of MAX_OPEN_FILES environment variable to configure ulimit settings prior to starting the JVM. The value of this environment variable can be configured by editing /etc/default/sensu-enterprise, but is not present in [the template](https://github.com/sensu/sensu-puppet/blob/v2.40.1/templates/sensu.erb) used by this module to render that fil

[2017-11-24 17:37] ghoneycutt commented on #849
Thanks @cwjohnston

Could you let us know if there are any other options that should be configurable there? That way we can make this feature complete in one pass.

[2017-11-25 12:31] alvagante commented on #849
For what I see here:
https://sensuapp.org/docs/latest/enterprise/configuration.html
There are this Sensu Enterprise only environment variables:
HEAP_SIZE
HEAP_DUMP_PATH
JAVA_OPTS
MAX_OPEN_FILES
We currently support HEAP_SIZE and with the PR for this ticket, MAX_OPEN_FILES.

[2017-11-25 12:36] alvagante commented on #849
The variables common both to OSS and EE are, if I correctly understood:
SENSU_CLIENT_NAME
SENSU_CLIENT_ADDRESS
SENSU_CLIENT_SUBSCRIPTIONS
SENSU_TRANSPORT_NAME
RABBITMQ_URL
REDIS_URL
REDIS_SENTINEL_URLS
SENSU_API_PORT
In our /etc/default/sensu file, we we set other environment variables,  we do not manage any of them (they are manaed via the normal  configuration json files)

[2017-11-27 19:56] cwjohnston commented on #849
@alvagante You're right, both `HEAP_DUMP_PATH` and `JAVA_OPTS` are honored by Sensu Enterprise only, and are not currently managed by this module. It would be ideal to support configuring these via Puppet. In conjunction with #850, I believe we'd have all the Enterprise-specific environment variables covered at that point.

FWIW, Sensu Enterprise will source both /etc/default/sensu and /etc/defaul

[2017-11-28 14:20] alvagante commented on #849
@cwjohnston @ghoneycutt  currently we use the same template for both /etc/default/sensu (https://github.com/sensu/sensu-puppet/blob/master/manifests/package.pp#L180) and /etc/default/sensu-enterprise (https://github.com/sensu/sensu-puppet/blob/master/manifests/enterprise.pp#L54).

We might use a different template for sensu-enterprise and place there all the ee-only settings we need (so avoiding t

[2017-11-28 19:25] cwjohnston opened #851 "CONFIG_FILE environment variable should be configurable"
## Description of problem

The value of `CONFIG_FILE` environment variable is not currently configurable via this module.

Both Sensu Core and Sensu Enterprise use the value of the `CONFIG_FILE` environment variable to set the `--config` flag when starting Sensu processes. This flag specifies a singular JSON config file, the content of which is deep merged with the contents of the directory specif

[2017-11-28 20:32] ghoneycutt commented on #851
I do not see `CONFIG_FILE` listed in #849
Seems like that should be configurable in `/etc/default/sensu`, correct?

[2017-11-29 16:40] cwjohnston commented on #851
@ghoneycutt yes, `CONFIG_FILE` is honored by both Sensu Core and Sensu Enterprise, so I believe `/etc/default/sensu` is the right place.

[2017-11-29 18:18] alvagante commented on #851
@cwjohnston @ghoneycutt If you agree I'd add it with eventually all the others listed in #849.
Note that given the current code base this would require adding relevant parameters to the main class in init.pp, and at least packages.pp. There parameters would match environment variables like SENSU_CLIENT_SUBSCRIPTIONS, SENSU_TRANSPORT_NAME, RABBITMQ_URL, REDIS_URL which are already defined in other

[2017-11-29 18:33] ghoneycutt commented on #851
I like this approach though it will require a major version change if we change parameters.

[2017-11-29 18:38] cwjohnston commented on #849
@alvagante to circle back to your prior comment about vars shared by Core and Enterprise, I believe the following env vars should not be managed by this module:

The values for these env vars are overridden by JSON configuration on disk, and the module manages  JSON configuration for each of these settings. I think having values set for these in both environment variables and in JSON on disk is li

[2017-11-29 19:04] cwjohnston commented on #851
Please see my note in https://github.com/sensu/sensu-puppet/issues/849#issuecomment-347954806. I am not in favor of managing env vars that overlap with config already managed by JSON.

[2017-11-29 20:10] alvagante commented on #849
@cwjohnston ok, understand and agree with such division. Actually that was also my concern.
Still for management of the MAX_OPEN_FILES, JAVA_OPTS, CONFD_DIR and CONFIG_FILE (and all the others that will eventually come) we could still use a single hash param and make it honours the current settings. As discussing in #851

[2017-11-29 20:18] alvagante commented on #851
@ghoneycutt actually we can reserve the existing parameters, eventually with a deprecation notice of the ones we want to get rid of.

@cwjohnston  as in the note of https://github.com/sensu/sensu-puppet/issues/849#issuecomment-347981469 we can use this hash based approach for the settings of environment variables  which refer to elements not present in the json configs.

Actually we can allow the

[2017-12-04 09:40] alvagante commented on #844
@ghoneycutt suppose this one can be closed now

[2017-12-04 14:49] #844 closed

[2017-12-04 14:56] ghoneycutt commented on #844
Released in v2.42.0

[2017-12-06 17:29] ghoneycutt opened #853 "Support arioch/redis"
https://github.com/arioch/puppet-redis

Our README states that redis is required, though we don't explain how to set that up. For testing we just install the redis package in Vagrant and use that. A better experience would be to recommend the approved arioch/redis module and update our tests to install that module and use it.

- [ ] Update README for arioch/redis
- [ ] Update Vagrant to use the re

[2017-12-11 18:57] dzeleski opened #854 "Enterprise - Purging files no longer managed fails to notify correct service"
## Description of problem
- Remove check definition
- After running puppet the file is removed but the wrong service is restarted and the config is never applied correctly.

## Command used and debugging output
![image](https://user-images.githubusercontent.com/8985449/33847924-31be56fe-de7a-11e7-95e0-e5236b67ac66.png)

## Platform and version information

- Your OS: centos 7 and rhel 7
- Your ver

[2017-12-11 21:30] ghoneycutt commented on #854
Hi @dzeleski Thanks for submitting this issue.

Can you please describe what the correct actions should be so we can work toward that goal?

[2017-12-11 21:42] dzeleski commented on #854
@ghoneycutt After a json config is either added/changed/removed the sensu-enterprise service needs to be restarted (or the config files reloaded live if thats an option yet). Currently for each definition we have to add a notify for when something is changed or added, this works but in order to remove something we would have to use `ensure => absent` instead of just removing the definition from co

[2017-12-11 21:48] dzeleski commented on #854
@ghoneycutt I believe the fix would be to add `Class['sensu::package'],` to the subscribe here: https://github.com/sensu/sensu-puppet/blob/master/manifests/enterprise.pp#L90

[2017-12-11 22:01] ghoneycutt commented on #854
Thanks @dzeleski

Are you able to test and see if that one liner fix works for you?

[2017-12-11 22:03] dzeleski commented on #854
@ghoneycutt wont be able to get to it today, I can do it first thing tomorrow if that timeline works for you guys?

[2017-12-11 22:11] ghoneycutt commented on #854
Thank you for testing!

[2017-12-12 22:14] jwatroba opened #855 "Centos 7 - not properly managing sensu-client service"
## Description of problem

- What did you do?
**Use this module on CentOS 7 servers**
- What happened?
**If the sensu-client service isn't running, it will not start the process. We have the same config on our CentOS 6 systems and this works fine.**
- What did you expect to happen?
**sensu-client service should be started if it's not running.**
- How can someone reproduce the problem?
**Test sensu

[2017-12-12 22:49] majormoses opened #856 "test slack integration."
## Description of problem

- What did you do?
- What happened?
- What did you expect to happen?
- How can someone reproduce the problem?

## Command used and debugging output

- What does your puppet config look like (including any hiera config)
- Is this a masterless or master based puppet setup?

## Platform and version information

- Your OS:
- Your Ruby version:
- Your version of Puppet:
- You

[2017-12-12 22:49] #856 closed

[2017-12-12 23:34] ghoneycutt commented on #855
I'm not able to reproduce this issue.

Are you specifying the service provider elsewhere in your code? If you are, it could be attempting to use a different service provider instead of picking the correct one.

Search for `Provider` and `Service` in your code to see if you are.

[2017-12-13 00:17] jwatroba commented on #855
This is interesting. Running a debug trying to set the resource while the service is stopped:
[code]

The issue systems to be systemd reporting that it's active:
[code]

When looking at the status it shows:
[code]

Puppet seems to be treating the state "active (existed)" as running. Not sure why this is, but I'm guessing it's probably not related to this module.

[2017-12-13 00:25] ghoneycutt commented on #855
Reminds me of https://tickets.puppetlabs.com/browse/PUP-7163 though that is with the service being enabled, not the status.

[2017-12-13 00:27] ghoneycutt commented on #855
This could be it - https://tickets.puppetlabs.com/browse/PUP-6759

You could try upgrading puppet to the latest v4 version. Going to close this since it's not related to this module. Let us know if the upgrade works!

[2017-12-13 00:27] #855 closed

[2017-12-13 00:30] jwatroba commented on #855
It seems to have something to do with the mix of systemd and the old init script. If I restart the system, sensu-client starts fine. If I stop it with systemd, it will properly stop it and puppet will restart it. If I stop it with the init script:
/etc/init.d/sensu-client stop, it sets that 'Active' field to 'active (exited)' and puppet thinks it's running. Looks like sensu moved to systemd as a d

[2017-12-13 08:07] sbilo opened #857 "Pull Request: sensu::check auto_resolve"
## Description of problem
Unable to set the auto_resolve parameter on a check.

Sensu checks have a parameter called auto_resolve, its not available in the sensu::check definition.

[2017-12-17 19:23] mvasilenko commented on #606
@GhostLyrics i've hit the same issue, puppet 3 only, how can i install more recent version than 0.26.5 on Debian/Ubuntu?

[2017-12-18 16:13] GhostLyrics commented on #606
You either
- do it manually
- try to overwrite a lot of parameters of this module
- or upgrade to Puppet 4.

I'm in the process of upgrading to Puppet 4 since I've put that off for too long anyway.

[2017-12-19 17:38] nagyt234 opened #859 "Sensu puppet doesn't work correctly if started from crontab: "Package[sensu-plugin] has failures""
I'm using sensu-puppet with client/server configuration. If the client is started from the command line, which should update 1 check, it is working correctly:
[code]
However it the same operation is started from crontab, it doesn't work. There are a lot of messages like `Dependency Package[sensu-plugin] has failures: true`:
[code]

## Platform and version information

- Your OS: Ubuntu 16.04
- You

[2017-12-19 17:52] nagyt234 commented on #859
The problem is solved after upgrading to 2.42.0 on the server side:
[code]

[2017-12-19 17:52] #859 closed

[2017-12-20 06:13] alvagante commented on #849
@ghoneycutt this can be closed, I suppose, since relevant PR has been merged.

[2017-12-20 15:04] #849 closed

[2017-12-20 16:30] exeral opened #860 "check "type" field lost in json file while upgrading module"
## Description of problem

Upgrading sensu puppet module from 2.1.0 to 2.42
(yes that's a high jump !)

**checks config file lost the "type" attribute**
resulting in our metric not being sent anymore

## Command used and debugging output
the code that create metrics checks
[code]

puppet master 4.10 /agent setup

## Platform and version information

- Your OS: CentOS release 6.9
- Your Ruby versio

[2017-12-20 16:50] exeral commented on #860
I wonder if it's something about the sensu puppet libs not correctly up to date at the puppet run.
but multiple puppet runs occured on the sensu server, so i still don't understand

[2017-12-22 16:46] alvagante commented on #851
@ghoneycutt #861 does the job and replaces #852
@cwjohnston sorry for taking some much time on this, the alternative approach I tried earlier was not worth the effor.

[2017-12-22 17:02] alvagante commented on #860
@exeral I'm not able to reproduce the issue.
Testing using the Vagrant environment with your  code here:
https://github.com/alvagante/sensu-puppet/commit/756b9e84e6fc1dee37675e71db3014c0a7abbe90

This is what I get on the Centos 6 (and the other client) with current master:
[code]

[2017-12-22 20:32] exeral commented on #860
well, we were not able to reproduce too in a Vagrant box
We rollbacked, so we will give another try.

since we are not able to reproduce I think we can close the issue.

I'm pretty sure it's something about the functions in `lib/puppet/` were not properly loaded somewhere

[2017-12-22 20:32] #860 closed

[2017-12-27 16:44] alvagante commented on #820
@bodgit can you confirm that https://github.com/sensu/sensu-puppet/pull/846 solves the issue?

[2017-12-28 04:37] ghoneycutt opened #862 "Support MacOS client"
Support MacOS as a client

[2017-12-28 06:02] ghoneycutt commented on #862
Addressing in PR #863

[2018-01-04 16:35] #851 closed

[2018-01-04 16:37] #820 closed

[2018-01-04 17:14] ghoneycutt commented on #820
Released in v2.43.0

[2018-01-04 17:15] ghoneycutt commented on #851
Released in v2.43.0

[2018-01-09 20:35] #862 closed

[2018-01-09 20:38] ghoneycutt commented on #862
Released in v2.45.0

[2018-01-14 18:33] alvagante commented on #782
@jothoma1 https://github.com/sensu/sensu-puppet/pull/785 should address this, can you confirm that?

[2018-01-15 02:01] ghoneycutt commented on #729
Let's target this when we transition the module to support Sensu 2.

[2018-01-15 02:03] ghoneycutt commented on #853
Marked `wontfix` since the dependency on Redis is going away with Sensu version 2.

[2018-01-15 02:03] #853 closed

[2018-01-15 02:09] ghoneycutt opened #866 "Not all Sensu Enterprise Dashboard options are available"
## Description of problem

We are missing at least `auth` and `oidc` from the `sensu::enterprise::dashboard` class.

https://sensuapp.org/docs/1.2/enterprise/dashboard.html#dashboard-attributes

[2018-01-15 02:11] ghoneycutt commented on #866
@treydock Could you please have a look?

[2018-01-15 02:32] ghoneycutt commented on #842
The `sensu::enterprise::dashboard` class should allow a hash of user defined data that is added to the `dashboard.json` config. This should work like the `custom` attribute for `sensu::check`.

https://github.com/sensu/sensu-puppet/blob/master/manifests/check.pp#L78

[2018-01-15 02:35] #542 closed

[2018-01-15 02:40] ghoneycutt commented on #764
In order to preserve semver, this will wait until the module is redone for Sensu 2.

[2018-01-15 02:48] jplindquist commented on #825
Yeah, sorry.  Got distracted and busy with the holidays.  Planning to get back to this soon

[2018-01-15 02:57] ghoneycutt commented on #825
Just doing some house cleaning on the outstanding issues. Your contributions are most welcome and we look forward to adding this support!

[2018-01-15 02:58] ghoneycutt commented on #542
Released in v2.46.0

[2018-01-15 04:58] ghoneycutt commented on #708
Released in v2.47.0

[2018-01-15 04:58] #708 closed

[2018-01-15 05:04] ghoneycutt commented on #822
Waiting for feedback from https://github.com/sensu/sensu-omnibus/issues/234

[2018-01-15 14:37] treydock commented on #866
@ghoneycutt Ya I'll take a look.

[2018-01-15 22:59] #866 closed

[2018-01-15 23:05] ghoneycutt commented on #866
Released in v2.48.0

[2018-01-16 02:21] #825 closed

[2018-01-16 02:24] ghoneycutt commented on #825
Released in v2.49.0

[2018-01-17 17:39] DDSloan96 opened #870 "WIndows Handlers not handled by module"
## Description of problem

- Attempted to add handler to windows sensu client
- Handler gets created
- Try to add a handler to windows
## Platform and version information

- Windows
- Your version of this module: Latest

[2018-01-17 17:51] ghoneycutt commented on #870
@DDSloan96 Thank you for letting us know about this issue! Could you please update this issue with example code regarding the handlers so that we can reproduce the problem.

[2018-01-17 18:11] DDSloan96 commented on #870
`sensu::handlers:
  operations:
    type: 'pipe'
    command: "/opt/sensu/embedded/bin/handler-pagerduty.rb"
    severities:
      - 'critical' `

This is an example of what causes the issue.  I have a feeling the issue stems from this code

`sensu::handlers:
  operations:
    type: 'pipe'
    command: "/opt/sensu/embedded/bin/handler-pagerduty.rb"
    severities:
      - 'critical' `
As it doesn'

[2018-01-17 18:26] ghoneycutt commented on #870
Do you get any error messages when using this code?

What data do you expect to be in which file?

[2018-01-17 18:41] DDSloan96 commented on #870
Error: Failed to apply catalog: Parameter path failed on File[/etc/sensu/conf.d/
handlers/operations.json]: File paths must be fully qualified, not '/etc/sensu/c
onf.d/handlers/operations.json' at /etc/puppetlabs/code/environments/ldr/modules
_forge/sensu/manifests/handler.pp:119

This is the error message we get, The expected output should be

[code]

[2018-01-18 01:28] treydock commented on #870
@DDSloan96 Just to clarify, your attempting to apply the previously mentioned Hiera defined resource to a Windows puppet client that is acting as a Sensu server?  If my understanding is correct, I would think `command` would need to be prefixed with `C:`.  I'll also patch `sensu::handler` to better handle Windows.

[2018-01-18 16:23] alvagante commented on #854
In the referenced commit I added the subscribe to the whole sensu::package class in the sensu-enterprise service. It restarts the service when files are purged and there're not apparent dependency cycles. Want to test this a bit more anyway, and add a spec tests, so PR still not there.

[2018-01-18 16:47] alvagante commented on #854
Tests added, no dependency cycles even if we notify the whole sensu::package class.
The reason for this (which actually suprised also me at first) is that there's no explicit relationship to sensu::enterprise in https://github.com/sensu/sensu-puppet/blob/master/manifests/init.pp#L649 and I suppose the "historical" reason is to avoid actual dependency loops that the other ubscribed resources in htt

[2018-01-18 20:28] alvagante commented on #782
@ghoneycutt I can confirm that this issue is now fixed in current master, so I suppose it can be closed
[code]

[2018-01-19 15:05] #857 closed

[2018-01-19 15:07] #782 closed

[2018-01-19 15:08] #854 closed

[2018-01-19 15:16] ghoneycutt commented on #870
BTW: We support windows as a client, not as a server. From the code, I believe that @DDSloan96 is using windows as a client.

[2018-01-19 15:18] ghoneycutt commented on #857
Released in v2.50.0

[2018-01-19 15:18] ghoneycutt commented on #854
Released in v2.50.0

[2018-01-19 15:18] ghoneycutt commented on #782
Released in v2.50.0

[2018-01-19 15:38] DDSloan96 commented on #870
We are using it as a client

[2018-01-20 15:13] treydock commented on #870
I've confirmed the issue inside a vagrant Windows VM.  I am working on patches that will make `sensu::handler` compatible with Windows.

[2018-01-26 23:29] tibers opened #876 "RVM conflicts with sensu-install"
The scenario is that if rvm installs ruby first, `sensu-install -p sensu-plugins-elasticsearch` will install the gems into the systemwide ruby folder and sensu can no longer find the gems. If I install sensu first, sensu-install does The Right Thing and installs them in the embedded ruby path. I can't just go ripping rvm and ruby out of prod however. :)

/etc/default/sensu has embedded ruby set to

[2018-01-27 15:45] tibers commented on #876
It looks very similar to [this issue](https://github.com/sensu/sensu/issues/1003), I'll try to bang out a PR since I think I have an idea.

[2018-01-30 16:15] danb223 opened #879 "Windows sensu purge issue"
When trying to put a json file in the conf.d directory, sensu removes the file and then puppet puts it back, on every puppet run (plus the sensu service restarting). The same does not happen in linux. The workaround for this is to disable purging for conf for windows, but not an ideal workaround. I have tried with both File resource and using the sensu::write_json, the same happens for both, but r

[2018-02-08 17:06] s33dunda commented on #144
I know this was closed long ago. But I just ran into this again.
https://sensuapp.org/docs/latest/reference/checks.html#check-attributes
the default says false. But the sensu sets it to true by default.

[2018-02-09 10:47] ghoneycutt commented on #144
@s33dunda To which check attribute are you referring?

[2018-03-28 19:52] cdenneen opened #883 "sensu_enterprise_dashboard_api_config purge"
v0.50.0

So following the README the following should work but still yields the 2 api1,api2 datacenters that come with install and get purged after a "second" puppet run:

[code]

I even tried to make sure the purge happened after the Package install

[code]

If I do another puppet apply run it works fine... but the first run doesn't delete those...
I'm going to guess it has something to do with t

[2018-03-29 18:35] cdenneen commented on #883
Because of the resource purging not working on first run the only way around this ended up being the following (but I'm open to suggestions to make it better)...

[code]

Maybe update README for the removal of the apis?

[code]

[2018-03-30 00:06] ghoneycutt opened #884 "Functional testing with serverspec"
We need functional testing of the code with serverspec. The first iteration of this should support the linux platforms from https://github.com/sensu/sensu-puppet/blob/master/metadata.json and run under docker.

[2018-03-31 18:27] treydock opened #886 "Custom types should not log passwords and other sensitive information"
## Description of problem

Currently several custom types will log output that is sensitive such as passwords

[code]

It's not unheard of for non-admins to have access to system logs via tools like Splunk so would be good to avoid writing passwords to logs.

## Command used and debugging output

Observed in acceptance tests.

## Platform and version information

- Your OS: CentOS 7
- Your version

[2018-04-05 16:38] ghoneycutt commented on #883
Released in v2.50.1

[2018-04-05 16:45] ghoneycutt opened #888 "enable specifying enable/ensure when managing services"
## Description of problem

Allow for changing the default setting for service enable/ensure when manage_service is set to true.

When using packer to build AMIs and have a need for the sensu client service to be set to:

[code]

The reason for this is we do not want the packer instance to kick off the monitoring client while our AMI is being built, however we do want the service to start automatic

[2018-04-05 16:57] ghoneycutt commented on #888
Solves #880

[2018-04-05 17:00] ghoneycutt commented on #888
Released in v2.51.0

[2018-04-07 14:53] treydock commented on #879
@danb223 Could you please provide Puppet code for resources so I can try and reproduce?

[2018-04-09 22:26] ghoneycutt commented on #770
Closing as the new version of the module will likely not need this.

[2018-04-09 22:26] #770 closed

[2018-04-12 14:47] treydock opened #891 "Some vagrant tests fail"
## Description of problem

Several Vagrant boxes fail when testing changes:

[code]

`failed - vagrant` items failed before box was even accessible via SSH, some failed to even boot and some failed to install drivers necessary to mount module to /vagrant.

## Platform and version information

This was observed while testing #878

## Anything else to add that you think will be helpful?

[2018-04-12 16:31] ghoneycutt commented on #891
Saw an error with macos-client as it is using an old version of stdlib. I could not reproduce any errors with Debian 9 and Amazon Linux. Confirmed Chocolatey is having issues.

[2018-04-12 16:33] ghoneycutt commented on #891
@treydock I've got a fix for macos. Could you please look at win2012r2-client-chocolatey.

[2018-04-12 16:47] #891 closed

[2018-04-12 16:47] ghoneycutt opened #893 "Vagrant fails for win2012r2-client-chocolatey"
See #891

[2018-04-12 22:03] treydock commented on #893
I'm not finding sensu on chocolatey website

https://chocolatey.org/packages?q=sensu
https://chocolatey.org/packages?q=sensu-client

Found a rejected package: https://chocolatey.org/packages/sensu-client

[2018-04-12 22:25] ghoneycutt commented on #893
@portertech You know where the chocolatey packages are?

[2018-04-16 00:37] ghoneycutt commented on #891
Released in v2.52.0

[2018-04-16 07:56] danb223 commented on #879
An example below:
    file:
      '/etc/sensu/conf.d/notification.json':
        content: |
                  {
                    "pagerduty": { "api_key": "%{hiera('sensu_apikey_operations')}" },
                    "windows": { "api_key": "%{hiera('sensu_apikey_windows')}" }
                  }
        rt_notify:
          service: 'sensu-client'

I also tried to do the same with sensu::write_

[2018-04-16 14:05] benpollard opened #895 "Implement custom sensu-transport"
Hi,

Is there a way to override the sensu transport type being used? I have implemented a custom transport type and would like to continue to use the sensu module. I can write the config file using the sensu file type but there doesn't seem any way to disable/override the default transport. Any suggestions?

Thanks

[2018-04-16 15:38] ghoneycutt commented on #895
No, there is not. If you have improved upon the transport type, could you send us a pull request?

[2018-04-16 15:39] ghoneycutt commented on #879
Abov

[2018-04-16 15:56] danb223 commented on #879
This is just in a Hiera format. If you just make a file in puppet or use the sensu::write_json along with any content, you should be able to recreate this with Windows.

[2018-04-17 19:02] ghoneycutt commented on #895
Could you please send us a pull request? We are not actively developing new features as we work to support Sensu v2, though are happy to merge new features with tests. The new version uses its own queuing, so no more rabbitmq and redis.

[2018-04-17 22:07] treydock commented on #879
@danb223 What parameters are being passed to `sensu` class?  I modified `tests/sensu-client-windows.pp` to try and reproduce and was unable.  The code I used is upgraded to `1.2.0-1` and with empty `notification.json`

[code]

[2018-04-18 14:56] danb223 commented on #879
Have you tried with content, does the actual file get created on the Windows client? here is the extract from our Windows in Hiera

    file:
      'c:\\opt\\sensu\\conf.d\\notification.json':
        content: |
                  {
                    "windows": { "api_key": "%{hiera('sensu_apikey_windows')}" }
                  }
        rt_notify:
          service: 'sensu-client'

We are using

[2018-04-18 22:30] treydock commented on #879
Added `sensu-plugins-windows` and gave `notifications.json` content, which does exist, and still not getting removed.  I manually restarted the `sensu-client` service to see if that changed anything and still no issues.

In your original output from Puppet, I don't see Puppet putting the file back.  I only see Puppet removing the file.  If I comment out the file resource for `notifications.json` I

[2018-04-20 09:31] danb223 commented on #879
My initial output looks like it was wrong, apologises. However if I remove the sensu::purge, this is what happens everytime puppet runs

Info: Caching catalog for nfirlajxzp98mc6ukq70vdt52boshwe4
Info: Applying configuration version '1524216598'
Info: Computing checksum on file C:/opt/sensu/conf.d/notification.json
Info: FileBucket got a duplicate file {md5}fe1ead95b9e306de4b898f21f22261e9
Info: /

[2018-04-20 13:02] treydock commented on #879
Looks like the `resource_tree` module is adding the file to catalog.  What version of the `resource_tree` module are you using?  The `file` key in your hiera example doesn't appear like something provided by the `resource_tree` module, was part of the hiera missing?  May be worth trying to reproduce the issue without using `resource_tree` and see if that is where the problem lies.

[2018-04-20 13:27] treydock commented on #879
Is the file defined using a key above `file` or do you have some logic in a manifest somewhere that picks up `file` key?  The `resource_tree` module looks to define things using `resource_tree::collections` so I'm curious how your resource is getting from Hiera to the catalog.  I need to know exactly how `resource_tree::resource` is getting defined so I can add equivalent code to a manifest for a

[2018-04-26 23:07] #884 closed

[2018-04-26 23:37] ghoneycutt opened #896 "beaker testing should support windows"
## Description of problem

Beaker supports linux platforms and should also support Windows. I think this will only work with Vagrant and not docker.

[2018-04-26 23:41] ghoneycutt commented on #896
Started in https://github.com/sensu/sensu-puppet/pull/897 though that just allows beaker to connect. Still getting errors.

[2018-04-30 22:53] ninjasloth22 opened #899 "sensu plugin could do with a source param"
## Description of problem

When using sensu plugin type package:
[code]
There is no source option. So when behind a proxy it fails.
In this case I am using sensu_gem provider to use the embedded ruby.

Also above if the pkg_provider is sensu_gem default becomes undef for install options. So install options do not work.

Though looking at the parent gem provider gem list operations do not use insta

[2018-05-03 14:13] jaredledvina opened #900 "Feature Request: Support Redis ssl configuration"
## Description of problem
Sensu 1.3.0 supports adding a `ssl: {}` configuration under the `redis` namespace for performing encryption in transit: https://github.com/sensu/sensu/blob/master/CHANGELOG.md#added-1

I'd love to see that exposed via this Puppet module for configuration as well.

## Platform and version information

- Your OS: CentOS 6/7
- Your Ruby version: ruby 1.8.7 (2013-06-27 patchl

[2018-05-03 16:27] ghoneycutt opened #901 "v3 - Support sensu-go"
What's needed to support sensu-go

- [x] document development procedures for maintaining support for sensu-go and sensu v1.
- [x] document config approach - backend vs local config
- [x] base module to manage files, packages, services, etc.
- [x] documentation with puppet-strings
- [x] README
- [x] extension provider code is cleaned up after https://github.com/sensu/sensu-go/issues/1767 is fixed
-

[2018-05-07 15:39] jaredledvina opened #902 "Feature Request: Support for disabling the TCP/UDP Socket entirely"
New in Sensu 1.3.0 is the ability to disable the TCP/UDP socket entirely: https://github.com/sensu/sensu/blob/master/CHANGELOG.md#130---2018-03-09

Currently, it looks like this module, hard codes configuring the TCP/UDP socket here: https://github.com/sensu/sensu-puppet/blob/master/manifests/client.pp#L102-L105

Ideally, it'd be setup similar to the `http_socket` allowing it to be completely disa

[2018-05-07 16:26] ghoneycutt commented on #902
So setting client_bind and client_port to undef does not work, instead the socket_config should be missing entirely, is that correct?

[2018-05-09 18:11] ghoneycutt opened #904 "Drop support for Debian 7 on 2018-05-31"
https://www.debian.org/News/2016/20160425

Debian 7 is EOL as of May 31st 2018. Puppet has dropped support for it as well. We should remove it from our supported platforms list and testing.

- [x] manifests
- [x] metadata
- [x] tests
- [x] vagrant
- [x] travis

[2018-05-12 22:12] treydock commented on #901
@ghoneycutt Where is environment documented?  Also may not need to do anything for `event`, looks like entirely informational and nothing that can be changed with `sensuctl`.

[2018-05-13 18:04] treydock commented on #901
@ghoneycutt Nevermind about environment, found under RBAC section.

[2018-05-21 19:19] #902 closed

[2018-05-21 19:26] ghoneycutt commented on #896
Finished in #898

[2018-05-21 21:57] ghoneycutt commented on #902
Released in v2.53.0

[2018-05-21 21:58] ghoneycutt commented on #884
Released in v2.53.0

[2018-05-21 21:58] ghoneycutt commented on #896
Released in v2.53.0

[2018-05-21 21:59] ghoneycutt commented on #870
Released in v2.53.0

[2018-05-23 07:26] ninjasloth22 commented on #899
Will close this, looking at the 2.53.0 changelog: https://github.com/sensu/sensu-puppet/pull/878 has implemented this.

[2018-05-23 07:26] #899 closed

[2018-05-23 14:38] #764 closed

[2018-05-29 21:31] ghoneycutt opened #908 "Allow gem_install_options on sensu_gem plugins to work on Windows"
## Description of problem

gem_install_options were added in v2.53.0 though do not work for windows. See PR #878

[2018-05-29 21:32] ghoneycutt commented on #908
CC: @cdenneen

[2018-05-29 22:03] cdenneen commented on #908
@ghoneycutt Any idea if these `gem_install_options` pointed at say a `--source artifactory` where you can have local and remote gems in a virtual repo... would like it to install pre-compiled gems for speed based on @cwjohnston gist (https://gist.github.com/cwjohnston/159a2cb56c1b3ebfcba3d0777f218725) then I can have uploaded gems for nokogiri for CentOS/Ubuntu, windows?

[2018-05-29 22:12] ghoneycutt commented on #908
I don't see why not. If they are valid gems in a valid repo, then it should work.

[2018-05-30 01:33] cdenneen commented on #908
@majormoses thanks. I’d like to figure out how to incorporate that with the sensu module here. So if we say artifactory hosts remote and local gems (precompiled) in a virtual gem repo called “rubygems” I want to figure out how to use the source parameter to point at that but since, for example, nokogiri is a dependency it wouldn’t be in my sensu plugins array, so how do you get the precompiled ver

[2018-05-30 01:42] cdenneen commented on #908
For some reason I keep wanting to lean towards these plugins using bundler with Gemfile logic for RUBY_PLATFORM to look for precompiled gems before falling back to source or some sort of logic to better handle things like these.
What about shipping sensu package with precompiled of certain gems in the embedded ruby. Few benefits here is they are built for the platform and ruby version of the packa

[2018-05-30 02:29] majormoses commented on #908
I know almost nothing about puppet so I have no idea how you would proceed in implementing that backup logic. It also seems needlessly complex, I think you can simplify the logic to:
1. install the pre-compiled deps
1. install the other plugins from any source you feel like, as long as the gemspec indicates a version satisfies the dependency that is already installed it will not attempt to downloa

[2018-05-30 22:11] cdenneen commented on #908
@majormoses was anything done upstream? The zlib issue from ld linker seems to be fixed somewhere upstream on the unf_ext compiling. Sometime this afternoon this just started working again but I can't find what might have changed upstream.
I noticed 1.4.2-2 of the rpm was uploaded last night but was still failing this morning so I'm not sure if that's what fixed this. Any ideas what might have cha

[2018-05-31 01:03] majormoses commented on #908
I don't see any new releases that explains it:
- https://github.com/sensu/sensu/blob/master/CHANGELOG.md#142---2018-05-10
- https://github.com/sensu-plugins/sensu-plugins-mailer/releases
- https://github.com/sensu/sensu/releases

[2018-05-31 01:10] cdenneen commented on #908
Any idea what went into 1.4.2-2 last night?
I see no changelog but bytes are different from -1

On Wed, May 30, 2018 at 9:04 PM Ben Abrams <notifications@github.com> wrote:

[2018-05-31 03:56] majormoses commented on #908
I'd guess it was this: https://travis-ci.org/sensu/sensu-omnibus/builds/384819033

While I did not see any new releases of sensu I do see several releases for omnibus: https://github.com/sensu/sensu-omnibus/releases

[2018-05-31 18:45] cdenneen commented on #908
@majormoses doing build again inside of docker `centos:7` container and it's back:

[code]

[2018-05-31 20:37] treydock commented on #908
@cdenneen The original error with `gem_install_options`, what did your resource look like?  I was able to get the `gem.bat` to run with `--source=http://rubygems` instead of `"--source http://rubygems.org"` by doing this:

[code]

[2018-05-31 21:17] cdenneen commented on #908
Thanks @treydock, So `gem_install_options` was coming from `sensu` class params set... and I'm using `package` type with provider set to `sensu_gem` as opposed to new `sensu::plugin` typehere is snippet:

**hiera**
[code]

[code]

[2018-06-09 03:57] fessyfoo opened #909 "gems not installed on sensu upgrade."
## Description of problem

I'm wondering if anyone else has run into this problem.    On a recent rather big jump upgrade of sensu  `0.26.0.1` to `1.4.2.1` on our windows clients.     On the first puppet run sensu is upgraded and the embedded ruby is upgraded and  until the next puppet run our gem plugins are no longer installed.

## Command used and debugging output

We're basically using the sen

[2018-06-09 04:00] fessyfoo commented on #909
cc @SegFaultAX  @nadarashwin  @travees  @kstdennis @dcharleston @carlf @vlau-opentable  @jay-chin    @vishalud

[2018-06-09 14:38] ghoneycutt commented on #909
Hi @fessyfoo Please try using our latest release of the module and let us know if this is still an issue. We do not have the resources to troubleshoot your fork of the software.

[2018-06-09 19:55] treydock commented on #901
@ghoneycutt Any references for `extension`?  Also do we want to add a type for `event`?  `event` seems like something sent by checks or on a more ad-hoc basis.

[2018-06-11 23:57] fessyfoo commented on #909
right,  i didn't notice we were using a forked version until the end of writing this ticket.    we'll need to work that out and get back on upstream.

still interested if anyone has noticed this type of problem because it looks to be more an issue with the upstream puppet gem provider code.   if you change out ruby in the middle of a  puppet run and you have cached the state of gems before that.

[2018-06-13 16:14] cdenneen commented on #908
@treydock sorry for late response... this seems better but do you know how i would integrate that with `install_options => ['--','--use-system-libraries']`?
`gem_install_options => [{'--source' => 'http://artifactory.domain.com/api/rubygems/rubygems','--','--use-system-libraries'}]` would that work? I'm just not sure if it should be part of the `Array []` or the `Hash {}`

[2018-06-13 16:43] treydock commented on #908
Upstream docs are here: https://puppet.com/docs/puppet/5.5/types/package.html#package-attribute-install_options

Based on that I think this would work:

[code]

[2018-06-13 20:23] cdenneen commented on #908
Closer... think it's still broken in windows though (tried to set to undef for non-RedHat or Debian but still getting issue):

[code]

[code]

[2018-06-13 20:37] majormoses commented on #908
Not super related to your problem but I am compelled to speak out on suggesting using http over https for pulling gems. I would strongly advise only installing gems over a secure connection as someone could MITM you and upload a malicious gem.

[2018-06-14 12:03] cdenneen commented on #908
@majormoses thanks but it’s internal artifactory and I’d have to use internal CA which doesn’t always play well with containers not having internal CA root chain.

[2018-06-18 02:13] #904 closed

[2018-06-18 02:21] ghoneycutt commented on #893
Asking for chocolatey packages in https://github.com/sensu/sensu/issues/1874

[2018-06-18 03:37] #729 closed

[2018-06-18 03:41] ghoneycutt commented on #879
@treydock could you have another look at this please

[2018-06-18 03:42] ghoneycutt commented on #895
Closing due to inactivity, please feel free to reopen and thanks for being part of the Sensu community!

[2018-06-18 03:42] #895 closed

[2018-06-18 15:58] ghoneycutt commented on #901
I think extension is just for v1 of sensu as it is not listed in the v2 docs

[2018-06-18 16:08] ghoneycutt opened #911 "Generate REFERENCE.md for the Puppet Forge"
REFERENCE.md should be generated with each release.

[2018-06-18 16:23] #911 closed

[2018-06-18 16:28] ghoneycutt commented on #901
@treydock Event's can be deleted and resolved, so we should have a type/provider for them.

[2018-06-18 22:37] treydock commented on #879
I managed to reproduce:

[code]

This is reproducer used with Vagrant:

[code]

I did manage to make `resource_tree` work by changing the path used by the `file` resource to be `C:/opt/sensu/conf.d/notification.json`.  I also used `C:\\opt\\sensu\\conf.d\\notification.json` with success.  My guess is using `C:` is needed and not the lowercase `c:`.

[2018-06-18 22:38] treydock commented on #879
@danb223 Try using upper case `C:` with your Hiera paths for files and let me know if that resolves your issue.

[2018-06-18 23:50] treydock commented on #908
@cdenneen Your latest snippet seems to be lacking `type` parameter.  You may need to define `type => 'package'` and possibly `pkg_provider`.  The default `type` is `file` for `sensu::plugin` and the name is getting passed as `source` for the `File` resource.

For Windows the default `pkg_provider` is `gem` which appears to be what your trying to use so maybe good to explicitly set `pkg_provider =>

[2018-06-18 23:58] treydock commented on #901
@ghoneycutt Can check off EL6 and Ubuntu 14.04.  The tests for Ubuntu 18.04 work in Docker and Vagrant is fixed with #915.

[2018-06-19 00:08] treydock commented on #901
@ghoneycutt For the `config` type, the only things it can change in `sensuctl` is default organization, environment and output format.  AFAICT our use of `sensuctl create -f` bypasses default organization and environment so those are defaulted in the individual types.

I do notice that right now if a system in provisioned and the password changed later, `sensuctl configure` won't get re-run.

[2018-06-19 08:46] danb223 commented on #879
@treydock that did the trick. I'm not sure whether this is now a puppet issue, or whether some logic needs to be applied to this sensu module, or whether we just need to make sure we are using an upper case C:

[2018-06-19 14:53] treydock commented on #879
I think this is a Puppet + Windows quirk.  There is this page: https://puppet.com/docs/puppet/5.5/lang_windows_file_paths.html but it doesn't mention `C:` vs `c:`.  All the examples of `File` resources use capital `C:`.  My guess is that when Puppet matches the resources in catalog for purging it's doing so with case sensitive matching.

[2018-06-19 15:23] ghoneycutt commented on #879
Thanks for figuring this out!

[2018-06-19 15:23] #879 closed

[2018-06-19 16:31] cdenneen commented on #908
shouldn't the pkg_provider always be using `sensu_gem` by default? and even `type` be `package` by default?

[2018-06-19 17:55] ghoneycutt commented on #908
default plugin provider is `sensu_gem` and the default pkg_provider is `undef`, so the package is installed by the normal means for a system, ie: yum, apt, etc.

[2018-06-19 18:42] cdenneen commented on #908
Right but aren't most `sensu::plugin` up on rubygems? So shouldn't they be using embedded `sensu_gem` rather than `gem`... that's why I'm not sure why default `type => file` and `pkg_provider => undef`... shouldn't every platform, including windows, use embedded `sensu_gem` and therefore `type => package`?

[2018-06-19 19:32] cdenneen commented on #908
@treydock got the following now:

[code]

but it seems like it's breaking normal package installs or something:

[code]

[2018-06-21 20:38] cdenneen commented on #908
@treydock I had time to test and modifying:
[code]
to
[code]
fixed the above issue. So something to do with the `-- --use-system-libraries` option

[2018-06-21 21:47] treydock opened #918 "sensu2 acceptance tests timing out in travis-ci"
sensu2 acceptance tests for some of the Debian and Ubuntu tests are timing out.

[2018-06-25 02:29] ghoneycutt commented on #901
@treydock Added documentation with puppet-strings to the list.

https://puppet.com/docs/puppet/5.5/puppet_strings_style.html#resource-types

[2018-06-25 02:56] ghoneycutt commented on #909
Closing this ticket since it is not verified with the latest version of the module. We value your input and appreciate you opening tickets with us. Please re-open if this is still an issue.

[2018-06-25 02:56] #909 closed

[2018-06-28 22:33] treydock opened #928 "sensu2 admin password handling is incorrect"
## Description of problem

If this module is used for the first time with a non-default admin password the `sensuctl configure` step will fail.

I do not think a solution will be possible until the `sensu_user` type can be created at which point that type and provider will have to update the admin user and run `sensuctl configure`.  The `sensuctl configure` used by `backend.pp` needs to use the de

[2018-06-29 21:54] treydock commented on #901
May need to add extension back, it appears to be something that can be managed with sensuctl.

[2018-06-29 22:09] ghoneycutt commented on #901
Put it back on the list.

[2018-06-30 20:31] treydock commented on #901
@ghoneycutt No explicit checkbox for README update.  Do we want to move examples and other documentation to puppet-strings where possible or also put examples in README?

[2018-06-30 20:34] ghoneycutt commented on #901
Added a README button. It should conform to their template.

https://puppet.com/docs/puppet/5.5/modules_documentation.html

The first example should be the minimal installation and a single check.

[2018-07-05 16:38] ghoneycutt commented on #918
PR #919 was merged though leaving this open as it is still a problem.

[2018-07-05 20:09] ghoneycutt commented on #901
@treydock could you double check the buttons above. Are we missing anything that needs to be done? Things that are done that can be checked off?

[2018-07-05 23:45] treydock commented on #918
@ghoneycutt PR #929 helps but doesn't guarantee no timeouts.  There is just something inherently slow with Debian 8 and Ubuntu 16.04 that I can't explain.  So far the simplest solution seems to be bundling multiple puppet manifests into one so that fewer invocations of `puppet apply` have to be executed.  Another solution could be to build custom docker images that already have Puppet bootstrapped

[2018-07-06 00:32] treydock commented on #901
Items that can be checked off:

* EL6
* Ubuntu 18.04 - only issue thus far has been Vagrant which seems to now work with latest vagrant and latest box.
* document config approach - this is mentioned under Limitations of README merged in #933

Items with open PRs:

* event - #920
* extension - #931

While debugging ubuntu-18.04 in Vagrant I noticed still some code in tests directory from sensu1 tha

[2018-07-06 15:18] ghoneycutt commented on #901
I can't get EL6 going.

[code]

[2018-07-06 15:18] ghoneycutt commented on #901
ubuntu 14 gives

[code]

[2018-07-06 15:30] treydock commented on #918
I'm going to update acceptance tests to take environment variable `BEAKER_sensu_full` that when has value like `true` or `yes` will trigger acceptance tests to test types/providers.  If that environment variable is not set or undefined only the agent and backend tests will run.  This environment variable approach will be easy to allow ad-hoc testing of other platforms if necessary as well as make

[2018-07-06 22:17] treydock commented on #901
@ghoneycutt Issue with el6 in Vagrant appears to be fact box doesn't ship with latest kernel and when the guest addition logic adds `kernel-headers` it adds the latest available kernel headers and not the ones for kernel running on the box.  Logging into the box, updating kernel, and reloading fixes the box.

The issue with Ubuntu 14.04 box is issue with Vagrantfile I've opened PR #934

[2018-07-06 22:44] treydock commented on #901
@ghoneycutt Need a checkbox to add `ensure => absent` support to `sensu_asset`.  This is opened here: https://github.com/sensu/sensu-go/issues/988

[2018-07-17 20:28] csoleimani opened #941 "Operator '[]' is not applicable to an Undef Value error in Rspec Tests"
## Description of problem

- What did you do?
**Updated to latest version of the module**
- What happened?
**Started seeing PDK tests fail**
- What did you expect to happen?
**No failures**
- How can someone reproduce the problem?
**We have a spec test that does a puppet db query and it is failing**
## Command used and debugging output
`bundle exec rake spec SPEC=/Users/csoleimani/git/puppet-contr

[2018-07-17 22:24] #941 closed

[2018-07-21 00:24] treydock opened #943 "sensu2 acceptance tests failing for Debian and Ubuntu"
## Description of problem

Acceptance tests for sensu2 are failing for all Debian and Ubuntu except Ubuntu 18.04

I think we're hitting this bug: https://tickets.puppetlabs.com/browse/MODULES-6543

I don't know why we didn't see this sooner.  Puppetlabs just released version 5.0.0 of puppetlabs/apt so either that introduced a regression or the docker images we test against were updated on docker h

[2018-07-21 00:29] treydock commented on #943
Error from Puppet:

[code]

[2018-07-21 15:46] treydock commented on #901
sensu-go appears to be adding cli support to manage backend cluster members.  Should probably add checkbox for cluster management.

[2018-07-21 15:53] ghoneycutt commented on #943
apt is a soft dependency, since it is only required for compilation on systems that use apt. Because of this, I dont think it should be in the metadata.json until it has a section for soft dependencies.

[2018-07-21 22:33] treydock commented on #943
Tested by pinning to puppetlabs/apt 4.5.1 and the acceptance tests pass.

I can update #936 to specify versions we support or we can document having to install `apt-transport-https` with newer puppetlabs/apt.

This commit removed `apt-transport-https` but not clear why https://github.com/puppetlabs/puppetlabs-apt/commit/ca31cab98756aa2ed40cc4dc717ab6bbdb3e2afe#diff-a3efcdc2c485949d50da5816e90d89de

[2018-07-21 22:52] ghoneycutt commented on #943
Let's not worry about the documentation as puppetlabs/apt v5 should be patched soon, instead we'll just say we work with v4. We don't have to entice people to upgrade to a broken version of puppetlabs/apt

[2018-07-22 15:35] treydock commented on #918
@ghoneycutt Closing as was resolved with #935

[2018-07-22 15:35] #918 closed

[2018-07-30 15:40] ghoneycutt opened #945 "amazon 2 not working in vagrant"
## Description of problem

Amazon 2 not working with Vagrant

- What did you do?

`vagrant up amazon2-agent`

- What happened?

errors

- What did you expect to happen?

The VM to come up without errors

- How can someone reproduce the problem?

`vagrant up amazon2-agent`

## Command used and debugging output

[code]

## Platform and version information

- Your OS:

MacOS High Sierra
Vagrant - 2.1

[2018-07-30 15:42] #943 closed

[2018-07-30 15:44] ghoneycutt opened #946 "el6 not working in vagrant"
EL6 not working with Vagrant

## Description of problem

- What did you do?

`vagrant up el6-agent`

- What happened?

errors

- What did you expect to happen?

The VM to come up without errors

- How can someone reproduce the problem?

`vagrant up el6-agent`

## Command used and debugging output

[code]

## Platform and version information

MacOS High Sierra
Vagrant - 2.1.2
VirtualBox - 5.2.12 r1

[2018-07-31 22:40] treydock commented on #946
This looks like an issue with the `centos/6` box being built for `6.9` and latest is now `6.10`.  Fix is hopefully temporary until CentOS updates the box for `6.10`.

1. `vagrant up el6-agent`
2. failure
3. `vagrant ssh el6-agent`
4. `sudo su -`
5. `yum update kernel\*`
6. Exit out of VM
7. `vagrant reload el6-agent`
8. Success

[2018-08-07 23:36] treydock commented on #901
@ghoneycutt config can be checked off via #938.  Need a checkbox to add `ensure => absent` support to sensu_asset. This is opened here: sensu/sensu-go#988.  The provider for sensu_asset supports delete but it causes errors when invoked, the acceptance tests explicitly skip testing the deletion of assets.  Only change necessary for sensu_asset is removing the skip here: https://github.com/sensu/sen

[2018-08-08 00:36] ghoneycutt opened #949 "upgrade beaker to v4 for sensu v2"
beaker v4 is released and our code pins to v3.

https://github.com/puppetlabs/beaker/blob/master/docs/how_to/upgrade_from_3_to_4.md

See https://github.com/sensu/sensu-puppet/pull/948

[2018-08-08 00:43] ghoneycutt commented on #949
Could you also please check if this will work with ruby 2.4.4? That way we don't have to maintain one gemset for tests at 2.4.2 and another for puppet at 2.4.4.

[2018-08-09 22:56] treydock commented on #949
We depend on beaker-rspec and right now the latest version is pinned to `beaker ~> 3.x`.  There is a new PR to fix this: https://github.com/puppetlabs/beaker-rspec/pull/95

Without beaker-rspec we'd have to update travis tests to not use `beaker` rake task.  I also think the fact we use `hosts` to access hosts would break as I think that comes from beaker-rspec.

[2018-08-09 23:13] ghoneycutt commented on #949
Thanks for the link to this. We'll wait for the puppet community to catch up and support things rather than not using beaker.

[2018-08-11 18:40] ghoneycutt commented on #946
Thanks for the steps to fix!

[2018-08-11 18:40] #946 closed

[2018-08-18 22:31] treydock opened #959 "sensu2 updates for types are poor for array and hash properties"
## Description of problem

The Puppet logged output of changes to array or hash properties take up multiple lines which would make log collection rather difficult.

This affects sensu2 types that use array or hash properties.

Example:

[code]

In my opinion the before/after values should all land on the same line which would make logging more complete and not require parsing multiple lines of tex

[2018-08-18 22:33] treydock opened #960 "Several sensu2 types shouldn't use Array property helper"
## Description of problem

It seems that sorting an array of hashes is invalid and this means that properties that expect array of hashes can not use `PuppetX::Sensu::ArrayProperty` as their parent.

This is basically what happens when a property that is array of hashes has more than 1 element either on system or in Puppet catalog:

[code]

[2018-08-18 22:36] treydock commented on #960
Example of the error that currently affects `sensu_role`.

[code]

[2018-08-21 20:53] #960 closed

[2018-08-21 20:54] #959 closed

[2018-08-22 19:11] ghoneycutt commented on #945
This is an issue with vagrant-vbguest

created the issue https://github.com/dotless-de/vagrant-vbguest/issues/303

and fix at https://github.com/dotless-de/vagrant-vbguest/pull/304

[2018-08-29 16:26] #945 closed

[2018-09-04 16:18] ghoneycutt opened #971 "Default `vagrant up` brings up too many systems"
## Description of problem

Ran `vagrant up` and it brings up an entire sensu backend cluster. For basic usage and testing, we do not need that many systems to be running. This can be a detraction for users with limited resources.

`sensu-backend-peer1` and `sensu-backend-peer2` should not start by default. There should be documentation that explains that these should be started if a cluster is wan

[2018-09-04 22:17] treydock commented on #971
Right now the Vagrant environment doesn't actually setup sensu-backend as a cluster.  Doing something like `vagrant up sensu-backend sensu-backend-peer1 sensu-backend-peer2` would just bring up 3 standalone sensu-backend boxes.  Do we want to document this behavior or change the behavior to support provisioning a cluster via Vagrant?

[2018-09-04 22:58] ghoneycutt commented on #971
autostart is set to true on the backend systems and should not be. Having documentation on how to bring up the other backends and create a cluster would be well received.

[2018-09-05 00:39] treydock opened #973 "sensu2 repo should have a name"
While running Vagrant boxes for sensu2 branch I noticed this message:

[code]

To avoid this warning the `yumrepo` resource should set name via `descr` property.  This may deviate from what packagecloud would deploy but avoids a warning.

[2018-09-05 15:11] #900 closed

[2018-09-06 17:01] ghoneycutt commented on #842
Released in v2.54.0

[2018-09-06 23:34] treydock commented on #973
Wanted to correct myself, adding `name` via `descr` actually matches what packagecloud deploys.

[2018-09-18 21:24] treydock opened #979 "Ensure sensu_api_validator is not using deprecated API endpoints"
## Description of problem

Upstream deprecated the `/info` API endpoint (https://github.com/sensu/sensu-go/pull/2066).  This endpoint is used by `sensu_api_validator` to ensure other sensuctl resources don't get added before sensu-backend is ready to accept requests.

I think the endpoint may have been removed completely.

[code]

[2018-09-18 21:31] treydock commented on #979
Opened upstream issue: https://github.com/sensu/sensu-go/issues/2074

[2018-09-18 21:36] treydock commented on #979
#980 is a stop gap.  If upstream implements a `/version` endpoint or new `/info` endpoint that seems more appropriate.

[2018-09-18 22:20] treydock opened #981 "Re-evaluate parallel execution of acceptance tests"
## Description of problem

It seems that if the parallel bits of acceptance tests fail the test will just hang and eventually time out rather than fail fast.  Initially parallel execution was used speed up tests but now that's mostly unnecessary because the long running tests only run for EL7 docker container.

Screen eventually gets flooded with this:

[code]

[2018-09-18 23:53] treydock opened #983 "Support Puppet 6"
## Description of problem

Looks like Puppet 6.0.0 was released today which is why suddenly facter 3.12.0 broke all tests.  Should be easy to support Puppet 6 tests once #982 is merged.

[2018-09-19 00:01] treydock commented on #983
@ghoneycutt What acceptance tests should we target for puppet6 collection?  I was thinking at minimum the one with `BEAKER_sensu_full=yes`, but that won't fully validate the classes.  Should we test all supported OSes?

[2018-09-21 13:14] bastelfreak commented on #983
If you're interested: on Vox Pupuli we run the full spec tests and acceptance tests on puppet5 and on puppet6.

[2018-09-27 15:05] ghoneycutt commented on #983
Sensu v1 needs to drop support for Puppet 4 since Puppet 6 is out as well as use the current versions of ruby for Puppet 5 (2.4.4).

[2018-09-30 14:35] ghoneycutt commented on #983
We are not changing the interface to the software, so no. It will likely keep working with v4, though not a supported platform. We support the current major release and the last one.

[2018-09-30 14:50] treydock opened #989 "Support stdlib v5.0.0"
puppetlabs/stdlib has version 5.0.0 and would be ideal if we validated both v1 and v2 supported this version.

[2018-10-01 15:42] ghoneycutt commented on #989
+1

[2018-10-01 20:53] ghoneycutt commented on #983
Do not close until PR #986 and #988 are both closed.

[2018-10-02 15:20] #983 closed

[2018-10-02 21:16] #979 closed

[2018-10-02 21:16] #981 closed

[2018-10-02 21:16] #971 closed

[2018-10-12 16:37] ghoneycutt opened #990 "Add support for Ubuntu 18.04 LTS"
We have support for Ubuntu 18.04 LTS in sensu2, though it is missing from sensu1.

[2018-10-14 20:44] ghoneycutt opened #993 "Support MacOS High Sierra (10.13)"
Add support for OSX 10.13

[2018-10-14 22:13] ghoneycutt opened #994 "Remove amazon linux from Vagrant setup"
We will still support Amazon Linux, though finding images that work reliably with VirtualBox is a challenge. Let's remove the Vagrant piece. The platform is still tested with the acceptance testing.

[2018-10-22 18:28] ghoneycutt opened #996 "Document Amazon Linux support and only support the latest two versions"
We need to document which versions of Amazon Linux are supported (v2 and 2018.03) and the reasoning behind that, which is that we will support the latest release and the previous release.

[2018-10-22 18:49] ghoneycutt commented on #996
- [ ] sensu2 - remove 2017.03
- [ ] sensu1 - remove 2017.03
- [ ] sensu1 - add 2018.03
- [ ] sensu1 - add 2

[2018-10-22 18:51] ghoneycutt commented on #996
@treydock could you please add amazon linux 2 support for sensu1

[2018-10-23 19:38] #996 closed

[2018-10-25 23:41] johannagnarsson commented on #647
Ran into this while trying to add a filter to my handler, if write_json solves this then why have the sensu::handler feature? I would like to propose that this bug at least be reopened.

[2018-10-26 17:37] ghoneycutt commented on #647
@johannagnarsson please use the latest version of this module and let us know how it goes as @rgeniesse suggested. We're looking forward to your response and happy to help get this resolved.

[2018-10-26 18:21] johannagnarsson commented on #647
Hello @rgeniesse, @ghoneycutt thank you for your responses.

**Command used and debugging output**
What does your puppet config look like (including any hiera config)
See below, no hiera.

**Is this a masterless or master based puppet setup?**
master based

**Platform and version information**
Your OS: CentOS 7.5.1804.
Your Ruby version: 2.4.4p296 (Sensu Embedded)
Your version of Puppet: 4.10.12 /

[2018-10-26 18:57] ghoneycutt commented on #647
@johannagnarsson what outputs were you expecting?

[2018-10-26 19:07] johannagnarsson commented on #647
This is a correct handler, created by write_json:

[code]
Note how the filters isn't empty under "handlers": { "webex": { "filters": [ ] } } and how there isn't a separate "webex": { "filters": [] } } definition.

[2018-10-26 19:10] ghoneycutt commented on #647
The above shows logstash while the previous example used webex. Could you please show the expectation for webex? This allows us to make a diff and debug the issue.

[2018-10-26 19:12] johannagnarsson commented on #647
Sorry , I included both in the first example, I'll add webex to the previous comment as well

[2018-10-26 19:35] #990 closed

[2018-10-26 19:44] ghoneycutt commented on #990
Released in v2.56.0

[2018-10-26 19:45] ghoneycutt commented on #981
Released in v2.56.0

[2018-10-27 15:41] treydock commented on #647
@johannagnarsson Try using `filters` parameter instead of `config`.  The `config` parameter looks to be intended to define a custom hash separate from other parameters.

[code]

[code]

[2018-10-27 17:09] ghoneycutt commented on #647
Thanks @treydock !

@johannagnarsson let us know how this goes.

[2018-10-29 20:10] #989 closed

[2018-11-05 19:39] treydock opened #1005 "Remove sensu_asset metadata parameter (sensu2)"
Upstream removed metadata from assets (https://github.com/sensu/sensu-go/pull/2273).  Need to update sensu_asset type to account for this change.

[2018-11-05 19:41] treydock opened #1006 "Replace environment & organization with namespace for sensu2 types"
All types that use environment and/or organization will need to be updated to use namespaces.  Also flags passed to sensuctl will need to be updated.

Upstream change: https://github.com/sensu/sensu-go/pull/2254

[2018-11-06 17:42] nagyt234 opened #1007 "Source option with sensu_gem provider doesn't work"
## Description of problem

- What did you do?
I tried to install sensu-plugins-mysql from my forked gihub reposityr with the following command:
[code]
- What happened?
The plugin was installed from `sensu-plugins/sensu-plugins-mysql` instead of my repo `nagyt234`.
- What did you expect to happen?
The plugin should be installed from `https://github.com/nagyt234/sensu-plugins-mysql.git` as stated in

[2018-11-07 00:16] treydock commented on #1007
@nagyt234 The `source` property refers to one from Puppet package provider: https://puppet.com/docs/puppet/5.5/types/package.html#package-attribute-source

The `sensu_gem` provider inherits most behavior from Puppet's `gem` provider.  The only thing changed by `sensu_gem` is where to find the actual gem command and how to handle uninstalls.  My read of Puppet's `gem` provider (https://github.com/p

[2018-11-07 00:26] treydock opened #1008 "Remove or update extended_attributes for sensu2 types"
Upstream replaced extended attributes with labels.  This will impact `sensu_check` and `sensu_entity` at the very least.

Upstream change: https://github.com/sensu/sensu-go/pull/2283

[2018-11-07 23:08] treydock commented on #1008
Looks like this is now what we get:

[code]
This will have to be bundled with #1006 since the `metadata` key for both `sensu_check` and `sensu_entity` is what holds the `namespace` value.

[2018-11-10 15:15] treydock opened #1009 "sensu2 type should have proper auto requires"
Currently most if not all sensu2 types have autorequires on things like sensu-backend service but they lack cross-type dependencies.

One example is that sensu_check should auto-require a sensu_hook if that check is configured for the hook in catalog.

Currently seems that it's possible to configure a check for non-existent hook or handler, for example, so this change isn't necessarily required to

[2018-11-10 15:41] treydock commented on #1005
So this relates a little to #1006 but upon looking it seems the `metadata` property was replaced by `metadata` hash now used also by `check` and `entity` which means arbitrary key/values for `labels` and `annotations` will be possible with assets.

[2018-11-10 20:17] treydock opened #1012 "Update sensu2 to replace id properties with name"
Upstream is changing references to `id` with `name` and this will require some changes to several types.  Also appears like the `metadata` key will be used for `name` and `namespace` combinations and this will also require some logic changes for most types.

Upstream PR: https://github.com/sensu/sensu-go/pull/2308

[2018-11-14 17:47] treydock opened #1014 "Fix sensu2 extension list for all namespaces"
Upstream fixed `sensuctl extension list` to support `--all-namespaces`.  This will need to be applied in #1013.  This is one item mentioned in #901

Upstream fix: https://github.com/sensu/sensu-go/pull/2337

[2018-11-16 23:23] treydock opened #1015 "Rework sensu_silenced name handling"
The name passed like this:
[code]

Will be replaced in `metadata` with `entity:sensu_agent:*`.  The name passed during creation isn't used, and based on docs name is a `#{subscription}:#{check}`.  To avoid confusion and inconsistent behavior the name of a `sensu_silenced` resource should match the convention that one would see when looking at things through sensuctl.

[2018-11-20 22:51] ninjasloth22 commented on #842
Can you confirm this was implemented ? I don't see it in the code in version v2.58.0

[2018-11-22 20:23] treydock opened #1016 "Rewrite RBAC handling for sensu2"
There is a PR in sensu-go, https://github.com/sensu/sensu-go/pull/2338, that will require large changes to `sensu_role`, likely a rewrite.  Also new types will be needed:

* cluster-role
* cluster-role-binding
* role-binding

May be able to combine the binding resources into parent resources for simplicity, will have to evaluate that option.

[2018-11-22 21:51] treydock commented on #1016
Docs already updated to reflect RBAC changes: https://docs.sensu.io/sensu-go/5.0/reference/rbac/

[2018-11-23 19:52] treydock commented on #1016
@ghoneycutt The `rules` property prototype I have validates the data structures are correct types of does not validate values.  Should we validate values, like `verbs` are valid? https://docs.sensu.io/sensu-go/5.0/reference/rbac/#role-attributes

[2018-11-23 20:04] #1012 closed

[2018-11-23 20:04] ghoneycutt commented on #1005
@treydock can this be closed now that https://github.com/sensu/sensu-puppet/pull/1013 is merged?

[2018-11-23 20:04] ghoneycutt commented on #1006
@treydock can this be closed now that https://github.com/sensu/sensu-puppet/pull/1013 is merged?

[2018-11-23 20:04] ghoneycutt commented on #1008
@treydock can this be closed now that https://github.com/sensu/sensu-puppet/pull/1013 is merged?

[2018-11-23 20:05] ghoneycutt commented on #1012
Fixed by https://github.com/sensu/sensu-puppet/pull/1013

[2018-11-23 20:05] ghoneycutt commented on #1014
@treydock can this be closed now that https://github.com/sensu/sensu-puppet/pull/1013 is merged?

[2018-11-23 20:07] ghoneycutt commented on #1016
I dont think we want to validate each of the acceptable values and this makes the coupling very tight and when changes are made to sensu, they will not be accessible until we make changes.

[2018-11-23 21:09] treydock commented on #1005
Yep, closing.

[2018-11-23 21:09] #1005 closed

[2018-11-23 21:11] treydock commented on #1006
Yep, closing.

[2018-11-23 21:11] #1006 closed

[2018-11-23 21:11] treydock commented on #1008
Yep, closing.

[2018-11-23 21:11] #1008 closed

[2018-11-23 21:11] treydock commented on #1014
Yep, closing.

[2018-11-23 21:11] #1014 closed

[2018-11-23 21:13] treydock commented on #1016
Sounds good, current validation is just data types so that things like `subjects` are Array of Hashes and the Hash keys match valid keys since determines data structure used by provider.

[2018-11-24 00:42] treydock commented on #842
@ninjasloth22 It appears this was not implemented.

[2018-11-24 19:49] ghoneycutt commented on #842
@treydock can you please investigate

[2018-11-25 23:01] treydock commented on #901
@ghoneycutt Can check off `extension provider code is cleaned up` via #1013 .

[2018-12-01 15:58] treydock opened #1019 "Remove extension type"
Upstream has removed `extension` from `sensuctl`: https://github.com/sensu/sensu-go/pull/2448.

The type in `sensu2` branch needs to be removed.

[2018-12-17 00:03] #842 closed

[2018-12-25 03:51] rickatnight11 opened #1023 "sensu_api_validator fails when Backend has SSL enabled"
## Description of problem

Puppet run fails on `sensu_api_validator` Exec when Backend has SSL enabled (`cert-file` and `key-file` specified in `backend.yml`, as it always assumes HTTP.  The underlying code actually has a `use_ssl` parameter, but the incantation in `sensu::backend` doesn't currently set it.

## Command used and debugging output

[code]

## Platform and version information

- Your

[2018-12-25 18:52] treydock commented on #1023
@rickatnight11 Would it be possible to share your Puppet definition for `sensu::backend`?  I would like to add some SSL acceptance tests to verify SSL works with the types and our execution of `sensuctl` but am having some issues properly configuring the backend I think, or maybe because I'm using self-signed certificates.

[2018-12-25 19:08] rickatnight11 commented on #1023
@treydock, certainly:

[code]

I'm using the new `use_ssl` parameter my linked PR adds (happy to handle this a different way, though).  The `cert-file` / `key-file` params are pointing at files provided by my IPA service:

[code]

...and `trusted-ca-file` is pointed at that same IPA service's CA cert.  I've also added that CA cert to the system trust store across all my CentOS 7.5 systems (copied

[2018-12-26 17:37] treydock commented on #1023
@rickatnight11 Thanks.  I'm assuming you ran `sensuctl configure` to ensure it was using SSL?

[2018-12-26 17:44] rickatnight11 commented on #1023
Yep! My `api-url` in `~/.config/sensu/sensuctl/cluster` is set to `https://mgmt01.example.org:7000`.

[2018-12-26 17:48] treydock opened #1025 "Manage state of sensuctl configure"
Currently the Exec for `sensuctl configure` only runs once on first application of Puppet on the backend and doesn't get re-run if parameters are changed.  With #1024 it will be necessary to re-run if someone changes from non-SSL to SSL.  There should likely be a type/provider written that knows if `sensuctl configure` needs to be re-run.  If the provider is able to verify the access token it shou

[2018-12-26 17:51] treydock commented on #1023
Good to know.  I opened #1025 that documents the issue with current handling of `sensuctl configure`.  Ideally one wouldn't have to manually re-run `sensuctl configure` and given the way its state is stored it should be possible to make a type/provider around `sensuctl configure`.

[2018-12-30 14:41] treydock opened #1031 "Make type usage of sensuctl create match docs"
The current implementation of JSON passed to `sensuctl create -f` uses top level keys `type` and `spec`.  It appears like now there are several more top-level keys that need to be set such as moving `metadata` to top-level and specifying `api_version`.

Another look at all keys being managed by Puppet should be done to ensure we're matching the sensu-go docs.

Now:
[code]

What it should look like

[2018-12-30 23:48] treydock commented on #1016
Closing via #1017

[2018-12-30 23:48] #1016 closed

[2018-12-30 23:48] treydock commented on #1019
Closing via #1017

[2018-12-30 23:48] #1019 closed

[2019-01-01 03:56] #1031 closed

[2019-01-01 04:03] #1025 closed

[2019-01-01 04:06] ghoneycutt commented on #1023
Is this still an issue using the latest version with the merged SSL code you two worked on?

[2019-01-03 14:05] rickatnight11 commented on #1023
This is now working for me using the latest code on the `sensu2` branch.  @treydock extended my original PR with https://github.com/sensu/sensu-puppet/pull/1027.

[2019-01-03 14:05] #1023 closed

[2019-01-07 00:47] #994 closed

[2019-01-07 01:50] ghoneycutt commented on #928
Fixed by #1011

[2019-01-07 01:50] #928 closed

[2019-01-07 01:52] #876 closed

[2019-01-07 04:12] ghoneycutt commented on #819
Solved by https://github.com/sensu/sensu-puppet/pull/823

[2019-01-07 09:45] bodgit commented on #819
This hasn't been fixed as #823 was not merged. However there is #907 and #917 which are still open.

[2019-01-07 16:00] ghoneycutt commented on #819
Thanks @bodgit for letting us know! Re-opened and we will continue to work this. Sensu v1 has been on the back burner to get Sensu v2 supported and now we are circling back to get these issues fixed.

[2019-01-08 23:17] treydock commented on #1009
This was solved via #1037.

[2019-01-08 23:17] #1009 closed

[2019-01-08 23:50] treydock commented on #1007
@nagyt234 Were you able to resolve this issue?

[2019-01-09 17:08] ghoneycutt commented on #1007
@nagyt234 Closing as @treydock shows this is not still an issue in his testing. If this is closed in error and this issue is still happening, please re-open it and we'll be happy to work with you on it.

[2019-01-09 17:08] #1007 closed

[2019-01-11 00:05] ghoneycutt commented on #647
Closing due to inactivity. Please re-open if this is still an issue and @treydock 's comments did not solve it.

[2019-01-11 00:05] #647 closed

[2019-01-11 21:43] treydock commented on #901
@ghoneycutt User type is done but lacks `ensure => absent` similar to assets: https://github.com/sensu/sensu-go/issues/2540

[2019-01-11 22:37] ghoneycutt commented on #886
Fixed for Sensu v1. Re-opening until this is also applied to Sensu v2.

[2019-01-11 22:41] treydock commented on #886
For Sensu v2 the user passwords are already suppressed in `sensu_user` type.  The `agent.yml` passwords can have diff turned off via `sensu::agent::show_diff` added in #1042

[2019-01-11 22:41] #886 closed

[2019-01-11 23:33] ghoneycutt commented on #819
Fixed with PR https://github.com/sensu/sensu-puppet/pull/917

[2019-01-11 23:34] #819 closed

[2019-01-11 23:38] ghoneycutt commented on #819
Released in v2.61.0

[2019-01-11 23:38] ghoneycutt commented on #1007
Released in v2.60.0

[2019-01-12 22:17] treydock opened #1046 "dsc_service throws error when client is false"
Running acceptance tests against Windows ran into this error:

[code]

[2019-01-13 20:14] #1046 closed

[2019-01-13 20:18] ghoneycutt commented on #1046
Released in v2.62.0

[2019-01-13 21:51] ghoneycutt commented on #993
@cwjohnston 10.13 (high sierra) and 10.14 (mojave) packages are missing

https://repositories.sensuapp.org/osx/

[2019-01-13 21:57] #993 closed

[2019-01-14 00:30] treydock commented on #1015
Instead of changing naming it was just documented how the naming works and tests added to validate what is documented.  Closing via #1041.

[2019-01-14 00:30] #1015 closed

[2019-01-17 00:50] davidmnoriega opened #1050 "TripleO and Sensu without ssl, ssl still enabled in rabbitmq.json"
## Description of problem

- What did you do?
Use OpenStack TripleO+OpsTools to deploy OpenStack, with monitoring enabled but no SSL
https://github.com/openstack/tripleo-heat-templates/blob/stable/pike/environments/monitoring-environment.yaml

- What happened?
Sensu agents are not able to communicate with rabbitmq

- What did you expect to happen?
Sensu agents to be able to communicate

- How can

[2019-01-18 20:13] ghoneycutt commented on #1050
Thank you for the issue, we are looking into it.

[2019-01-19 17:15] treydock commented on #1050
@davidmnoriega Could you provide me a way to reproduce having `ssl` key added to `rabbitmq.json`?  One of the test configs we use in Vagrant uses default of `false` for `sensu_rabbitmq_config` property of `ssl_transport` and that is removing `ssl{}` from the config file.

https://github.com/sensu/sensu-puppet/blob/master/tests/sensu-server.pp#L4-L19

Results in this:

[code]

If your set `sensu::r

[2019-01-19 19:40] ghoneycutt commented on #1050
A link to the puppet configuration that you are using would be very helpful.

[2019-01-21 23:38] davidmnoriega commented on #1050
We add this to our TripleO deploy data:

[code]

TripleO deployment then renders the per node hieradata on each node and the sensu data is in `/etc/puppet/hieradata/service_configs.json`:

[code]

Yet `ssl{}` still shows up in `/etc/sensu/conf.d/rabbitmq.json`:

[code]

[2019-01-22 02:39] ghoneycutt commented on #1050
Could you please upgrade the module to the latest release and see if this is still an issue.

[2019-01-22 20:22] davidmnoriega commented on #1050
That might be tricky because the version of openstack determines which CentOS repo is used, which is what determines package versions of things like the puppet-sensu package. I'll see if I can just install a newer version, but that might not be easy to do.

Re-reading @treydock 's comment, I have a hunch that because the TripleO heat templates are building hieradata that set `rabbitmq_ssl_cert_cha

[2019-01-22 23:06] treydock commented on #1050
The issue is actually here: `https://github.com/sensu/sensu-puppet/blob/master/manifests/rabbitmq/config.pp#L15`.  In Puppet empty strings will evaluate to true and once that's done the value for ssl is enabled here: https://github.com/sensu/sensu-puppet/blob/master/manifests/rabbitmq/config.pp#L94

The default for the underlying `sensu_rabbitmq_config` type is actually empty strings which do not

[2019-01-23 00:54] davidmnoriega commented on #1050
I did try using a newer version of the package, puppet-sensu-2.53.0-1.338ae0egit.el7, and while I could manually install it, it has dependencies on a newer version of puppet than what the pike repos have available, so the puppet apply failed.

I'll be submitting a patch to TripleO with my workaround(dont put cert/key into hiera if ssl is false) as I dont know how an updated sensu-puppet package wo

[2019-01-24 17:19] treydock commented on #1050
@davidmnoriega There is a patch in #1053 that would require no changes to TripleO.  It would prevent this module from enabling SSL when both cert and key are empty strings.

[2019-01-25 21:49] kscherer opened #1055 "Illegal method definition of method 'validate_keys' on line 8' in legacy function."
## Description of problem

After upgrade of puppetserver to 6.2.0, I started getting to following errors:

     Error: Could not retrieve catalog from remote server: Error 500 on SERVER: Internal Server Error: org.jruby.exceptions.SecurityError: (SecurityError) Illegal method definition of method 'validate_keys' on line 8' in legacy function. See https://puppet.com/docs/puppet/latest/functions_ref

[2019-01-25 23:10] treydock commented on #1055
It looks like the `sensu_sorted_json` would need to be converted to new function format introduced in Puppet 4.  My read of PUP-9294 is that any legacy function that defines Ruby functions will generate an error so only way to refactor would be to move away from the legacy function and use new function format.

[2019-01-26 00:04] treydock commented on #1055
@kscherer Can you please try #1056 and see if that resolved your issue without the workaround of using `func3x_check = false`?

[2019-01-27 23:52] #1055 closed

[2019-01-27 23:53] #1050 closed

[2019-01-28 15:27] kscherer commented on #1055
Many thanks for the quick response and fix! I was able to integrate the fix and verify that it resolved the errors I was seeing.

[2019-02-09 15:57] treydock opened #1064 "Support sensu-go enterprise features"
The documentation for sensu-go 5.2 outlines two enterprise features that need to be supported.

- [x] License
- [x]  Auth

The auth commands require the license be added first which can be handled with autorequires.

[2019-02-11 12:39] maxadamo opened #1069 "Sensu2: allow using internal repo work"
## Description of problem

- I have set on hiera `sensu::manag_repo: false`
- The module fails to intsall, because it has `require` set against `sensu::repo`
- skip the code inside `sensu::repo` if false is set

## Command used and debugging output

- What does your puppet config look like (including any hiera config)
- Is this a masterless or master based puppet setup?

## Platform and version in

[2019-02-12 13:54] ghoneycutt commented on #1069
Closed by https://github.com/sensu/sensu-puppet/pull/1070

[2019-02-12 13:54] #1069 closed

[2019-02-13 12:18] maxadamo opened #1072 "Could not evaluate: couldn't find login name -- expanding `~'"
## Description of problem

- if puppet is run unattended (as per defined schedule) it throws this error:
[code]
- If puppet is run from a terminal, it works properly.
- The error is only shown in the puppetserver.log, or in puppetDB (I have found it in the puppetboard, reporting tool).

## Command used and debugging output

The problem seems to be in the file: `lib/puppet/provider/sensuctl.rb`, at

[2019-02-13 13:12] maxadamo commented on #1072
I could add in the file:
[code]
then replace line 10 with:
[code]
the user `blahblah` running puppet is root. So far so good, but I see either this:
[code]
and this:
[code]

:question:

[2019-02-13 15:52] ghoneycutt commented on #1072
When you run puppet unattended, is that as the root user?

How can we reproduce this?

[2019-02-13 16:09] maxadamo commented on #1072
@ghoneycutt yes, it is the root user.
The best way to reproduce it, is to set something like this in you puppet.conf:
[code]
then check the logs of your puppetserver: `/var/log/puppetlabs/puppetserver/puppetserver.log`

I think you'll see the error as soon as puppet is triggered.

[2019-02-13 17:09] ghoneycutt commented on #822
Windows 10 is not officially supported. Suggest using the code above provided by @benh57 in your profile for sensu.

[2019-02-13 17:09] #822 closed

[2019-02-13 17:11] ghoneycutt commented on #893
This does not seem like it is going to be addressed by Sensu 1 as focus is on moving to Sensu 2.

[2019-02-13 17:11] #893 closed

[2019-02-13 18:29] ndelic0 opened #1074 "Allow adding arbitrary config variables in /etc/default/sensu"
It would be useful o have more flexibility in managing **/etc/default/sensu** The way it's currently set is limiting us on injecting more configuration variables.  As a reference I'm adding [PR852](https://github.com/sensu/sensu-puppet/pull/852/) - think that one could work.

[2019-02-13 22:58] ghoneycutt opened #1078 "Document branches"
Need to document that `master` branch is for sensu-go and `sensu1` branch is for Sensu v1. This should be in the README for each branch and probably in the CONTRIBUTING.md as well.

[2019-02-15 14:59] jwoytek opened #1080 "Puppet 6.2 fails to apply sensu config, failing with: "Error 500 on SERVER: Server Error: no parameter named 'custom' (file: /etc/puppetlabs/code/environments/ta _dit_production/modules/sensu/manifests/enterprise/dashboard.pp, line: 56) on Sensu_enterprise_dashboard_config""
## Description of problem

- What did you do?
Tried to apply existing sensu config after an update to Puppet 6.2
- What happened?
Update did not apply, failing with:
`Error` 500 on SERVER: Server Error: no parameter named 'custom' (file: /etc/puppetlabs/code/environments/ta
_dit_production/modules/sensu/manifests/enterprise/dashboard.pp, line: 56) on Sensu_enterprise_dashboard_config`
- What did y

[2019-02-15 23:12] treydock commented on #1080
@jwoytek What does your Puppet code look like that is invoking `sensu_enterprise_dashobard_config` or `sensu::enterprise::dashboard` or just the main `sensu` class?

[2019-02-15 23:21] treydock commented on #1080
I just ran acceptance tests locally with Puppet 6.2.0 and defined this:

[code]

I got no errors.  The error is like the type code isn't in sync with module because manifest is calling `custom` property and error says doesn't exist in type.

[2019-02-15 23:28] jwoytek commented on #1080
We're not even invoking enterprise or enterprise_dashboard. Those values are unconfigured in our sensu class definition, which itself is pretty vanilla. We define the rabbitmq info and a couple of other bits. I can't access it right this second but will see if I can grab and redact it in a little while.

I did not understand the intent of the different way custom was handled from everything else i

[2019-02-15 23:39] jwoytek commented on #1080
@treydock we configure the sensu module through hiera. Our client configuration is pretty simple:

[code]

[2019-02-15 23:55] treydock commented on #1080
What's the server configuration look like?  That bit of Hiera wouldn't invoke any enterprise features.

[2019-02-16 00:00] jwoytek commented on #1080
@treydock FTR, on the hosts where we were seeing these errors, the sensu server configuration is not applied. It, too, however, is pretty simple:

[code]

[2019-02-16 00:02] jwoytek commented on #1080
@treydock additionally, we have a separate API server, which gets this config applied:

[code]

[2019-02-16 00:07] treydock commented on #1080
I think because you set `sensu::purge` the code in `sensu::enterprise::dashboard` is getting executed with `ensure => 'absent'` which explains why that code path is taken.  Did you update the sensu puppet module recently?  The change to add `custom` to `sensu_enterprise_dashboard_config` was done in version v2.59.0.  I am wondering if your hitting issue where new type properties aren't picked up b

[2019-02-16 00:16] jwoytek commented on #1080
@treydock the group that maintains our puppet server just recently updated to 6.2 (from 5), and introduced some problems when they did. When they were fixing those problems, they did update the sensu module from 2.58.0 to 2.62.3.

Interestingly, the failure was inconsistent: Sometimes the configuration would apply, and other times not, and I was unable to tie success to any specific variable. Howe

[2019-02-16 00:27] treydock commented on #1080
The error your seeing is more than likely something on the puppetserver side, I honestly don't think there's anything we could do on sensu module to stop that error since the error is because the master doesn't see that `sensu_enterprise_dashboard_config` has the `custom` property.  The fact you recently updated the module from a version without that property one with the property is a big clue.

[2019-02-16 00:56] jwoytek commented on #1080
@treydock OK, well, we don't have direct access to the puppet server, but I'll see if we can get the group that manages it to restart it. It is a single server, no multiple masters.

I don't know if this tells you anything interesting, but our local cache on the client side while we were having the problems did have the file sensu_enterprise_dashboard_config.rb, and it did define custom.

Now that

[2019-02-27 13:44] jwoytek commented on #1080
@treydock apologies for not updating this sooner. I meant to do that and forgot to come back. The manager of the upstream puppet master reset the server and made sure that the type cache had been updated. After doing that and swapping back to the 2.62.3 code without my patch, it looked like everything was working correctly.

We are still unable to explain how the cache apparently wedged when the m

[2019-02-27 13:44] #1080 closed

[2019-03-01 18:50] ghoneycutt commented on #1064
@treydock Do we have a PR for Auth? Seems #1066 was for License.

[2019-03-01 18:51] treydock commented on #1064
#1066 also had auth:

https://github.com/sensu/sensu-puppet/blob/sensu2/lib/puppet/type/sensu_ldap_auth.rb

[2019-03-01 19:11] ghoneycutt commented on #1064
It mentioned that it only partially closed this issue. If we're all good, close this.

[2019-03-01 22:40] treydock commented on #1064
Ya initial commit was just license file but later commits added auth.  Closing.

[2019-03-01 22:40] #1064 closed

[2019-03-03 20:51] #1074 closed

[2019-03-07 16:44] osehgol opened #1090 "puppetlabs-apt version 6.3.0 compatibility (instead of current 4.1.0)"
## Description of problem

- What did you do?

_puppet agent -t_

- What happened?

_Error: Found 1 dependency cycle:
(Exec[apt-update] => Package[apt-transport-https] => Apt::Source[sensu] => Exec[apt-update])\nCycle graph written to /opt/puppetlabs/puppet/cache/state/graphs/cycles.dot.
Error: Failed to apply catalog: One or more resource dependency cycles detected in graph_

- What did you expec

[2019-03-07 19:18] ghoneycutt commented on #1090
Thanks for reporting this! Would you like to try a fix? You can update the `.fixtures.yml` and `metadata.json` to change the value for the apt module version and the tests will automatically run and see if it works.

[2019-03-07 19:21] treydock commented on #1090
If only increasing the upper bound , update `.fixtures-latest.yml`.  If we update lower bound then it's `.fixtures.yml`.

[2019-03-08 18:24] #1090 closed

[2019-03-13 11:42] derkgort opened #1092 "Different namespace for the sensu-go version"
Hi,

Would it be an idea to use a different namespace for the sensu-go version of this module? Right now it's not possible to have both the sensu1 and and sensu-go versions of this puppet module active in the same puppet environment. And that makes switching from sensu1 not easy to do.

So maybe keep using sensu for 1 and use sensugo for sensu go/5.

[2019-03-13 16:08] ghoneycutt commented on #1092
We are currently transitioning the master branch of this repo which configures sensu v1 to a new module named sensuclassic. We will update this issue when that is ready.

https://github.com/sensu/puppet-module-sensuclassic

[2019-03-14 10:45] derkgort commented on #1092
Ah great! That works too. Thanks.

[2019-03-19 22:12] cdenneen opened #1093 "client_custom ec2"
#772 #773 #774 #775 #807

[code]

results in:

[code]

This seems to be related to the new_property... can you confirm this is desired behavior or how to avoid? Also how are you supposed to use the new property?

[2019-03-19 22:31] cdenneen commented on #1093
Yes that looks like it was the issue (conflicting property)... had to modify to the following (or could have properly renamed my ec2 to aws or something but this seems like better fix):

[code]
@alvagante Can I ask what the purpose of `client_ec2` or any of the additions in #807 are for exactly? It doesn't appear like it automatically populates the `client_chef`, `client_puppet`, etc so not sure w

[2019-03-20 22:06] treydock commented on #1093
@cdenneen My read of #807 looks like the provider that writes out the JSON config is just not doing anything with `ec2` property.  We are in the process of moving this repo's master branch to sensuclassic: https://github.com/sensu/puppet-module-sensuclassic.  Would you mind opening this same issue there?

Also when you define `sensu::client_ec2` is there any ec2 configs defined or is it essentiall

[2019-03-20 22:18] treydock commented on #1093
@cdenneen I tested this locally and `sensu::client_ec2` does work, and the fact `ec2` doesn't work for `sensu::client_custom` is expected since `ec2` is a valid property and all valid properties are ignored for `custom` to avoid conflicts.  Your second example should work, the `sensu-client.pp` in `tests` directory tests ec2 instance-id similar to your second example and it shows up in client.json

[2019-03-21 00:32] cdenneen commented on #1093
@treydock yes my question is you have to write a hash for all properties in #807

I had ec2 as part of the client_custom hash before #807 in which it became a conflict and resulted in the “flip/flop” behavior as you see from my OP.

Before #807 you could have added ec2, servicenow, puppet, chef same way I did to client_custom. So since these new parameters don’t populate metadata or anything what

[2019-03-21 21:21] ghoneycutt commented on #1093
It seems like we just need to document that custom filters out certain keys which are meant to be passed under those parameters.

@treydock Could you please re-open this against sensuclassic and address it.

[2019-03-21 21:22] ghoneycutt commented on #1092
sensuclassic is now available!

https://forge.puppet.com/sensu/sensuclassic

[2019-03-21 21:22] #1092 closed

[2019-03-21 21:22] #901 closed

[2019-03-21 22:09] treydock commented on #1093
Closing in favor of https://github.com/sensu/puppet-module-sensuclassic/issues/8

[2019-03-21 22:09] #1093 closed

[2019-03-22 19:24] #1078 closed

[2019-03-22 19:26] ghoneycutt commented on #908
Thanks for documenting the fix! Please re-open if there are still any issues.

[2019-03-22 19:26] #908 closed

[2019-03-25 13:40] cjeanner opened #1098 "Backward incompatibility change with SSL handling"
Dear Sensu team,
One of the [latest changes](https://github.com/sensu/sensu-puppet/commit/c907aa3727fe1514074bb40dbbaa3c9a743e3298) in the code base of this module apparently broke existing deploys in a specific case: when no puppet-server is involved.

In such a case, there isn't any puppet CA, thus the variable $facts['puppet_localcacert'] is set to Undef, and this "value" is refused by the Stri

[2019-03-26 20:20] Debilski opened #1099 "Community plugins are not available for Debian"
`class sensu::repo::community` adds packages at `"https://packagecloud.io/sensu/community/${downcase($facts['os']['name'])}/"` but then fails on Debian because there are not packages available under `https://packagecloud.io/sensu/community/debian`. (https://packagecloud.io/sensu/community)

[2019-03-26 20:21] jaredledvina commented on #1099
I think this is a duplicate of the existing upstream issue https://github.com/sensu/sensu-plugins-omnibus/issues/3

[2019-03-26 20:24] Debilski commented on #1099
Thanks. I see that ansible has a flag to manage the community repo oneself. Does this exist for puppet also?

[2019-03-26 20:42] treydock commented on #1099
You can pass `manage_repo => false` to the `sensu` class to disable management of the repo.

[2019-03-31 17:01] treydock commented on #1098
@cjeanner Give #1100 a try and let us know if that solves your problem. I made all the ssl source parameters optional which handles the `Undef` case.  I also made is so an error will be raised if those parameters are undefined and SSL is still enabled.

[2019-04-01 15:50] #1098 closed

[2019-04-02 18:43] ghoneycutt commented on #1098
Please re-open if you are still having an issue after using the changes that were just merged.

[2019-04-02 19:52] treydock commented on #1099
@Debilski Did setting `manage_repo => false` solve the issue?  If you need debian community repo you may want to comment on https://github.com/sensu/sensu-plugins-omnibus/issues/3 to let them know this issue is affecting more people.

[2019-04-02 20:28] Debilski commented on #1099
Yeah, works good enough for me. Thanks. For the plugins I was interested in, I could just use the Ubuntu versions.

[2019-04-02 22:11] #1099 closed

[2019-04-15 14:32] maximnik opened #1102 "Could not autoload"
## Description of problem

- What did you do?
I've downloaded modul sensu and trying to install backend. Module was added to environment production on puppet server.

- What happened?
While run puppet, I get error:
[code]

I've tried to restart puppetserver, but error stay the same.

- What did you expect to happen?
Expect sensu backend to be installed and configured.

## Command used and debuggin

[2019-04-15 14:46] ghoneycutt commented on #1102
You are using Puppet 4 which is not compatible with this module. You need Puppet 5 at the minimum. You could upgrade Puppet or use the Sensu Classic code base with Puppet 4 using this module https://github.com/sensu/puppet-module-sensuclassic

[2019-04-23 17:02] madelaney opened #1104 "Add support for Hiera 5 "deep merge" equivalent."
## Description of problem

- What did you do?

Using Hiera v5, I'm trying to pull in Hiera data from multiple sources within my hiera lookup path.

- What happened?

Only the first value in the Hiera lookup path was used.

- What did you expect to happen?

I'd like to have all applicable Hiera values evaluated as a "deep merge" of data.

- How can someone reproduce the problem?

Using the {{sensu-

[2019-04-23 17:03] madelaney commented on #1104
In this case, I believe the "fix" would be to use the [hiera deep](https://puppet.com/docs/puppet/5.0/hiera_merging.html#deep) function

[2019-04-23 17:27] treydock commented on #1104
@madelaney Try using `lookup_options` in your Hiera code: https://puppet.com/docs/puppet/5.0/hiera_merging.html#lookupoptions-format

Something like this:

[code]

[2019-04-23 18:21] ghoneycutt commented on #1104
@madelaney This should go in your `common.yaml`.

[2019-04-23 18:21] #1104 closed

[2019-04-23 18:30] madelaney commented on #1104
@ghoneycutt Are you saying the `lookup_options` should go in `common.yaml`?

[2019-04-24 02:00] ghoneycutt commented on #1104
yes, the code that @treydock demonstrated should go in your `common.yaml`

[2019-04-24 11:34] madelaney commented on #1104
@ghoneycutt Awesome, thanks.

[2019-05-08 23:32] treydock opened #1106 "Support Windows for agent"
The release of sensu-go 5.7 appears to have full support for Windows including installing a service.

Module changes

* Download MSI package
* Install MSI package
* Configure agent
* Install service
* Manage service

Will need both unit and acceptance tests. Will only be able to do acceptance tests for Windows 2012 and 2016 as that's all that's available via appveyor.

[2019-05-09 19:28] ghoneycutt opened #1107 "Add support for MacOS agent"
- [ ] module changes
  - [ ] spec tests
- [ ] vagrant support

Is there a service we can use to test this on a mac?

[2019-05-09 19:35] ghoneycutt commented on #1107
Support is only for sensuctl, not the agent.

https://docs.sensu.io/sensu-go/5.7/getting-started/platforms/#sensuctl-command-line-tool

[2019-05-09 19:35] #1107 closed

[2019-05-16 17:39] ghoneycutt opened #1111 "Ubuntu 14.04 LTS is EOL"
Ubuntu 14.04 LTS is now end of life.

It should be removed from

- [x] metadata.json
- [x] docs
- [x] vagrant
- [x] testing

[2019-05-16 18:28] #1111 closed

[2019-05-18 19:07] #1106 closed

[2019-06-18 19:47] rgeniesse opened #1116 "Asset examples use wrong filters attribtue syntax."
## Description of problem

- What did you do?
Used the example located here to define an asset with a filter:

https://github.com/sensu/sensu-puppet/blob/master/lib/puppet/type/sensu_asset.rb#L6-L15

- What happened?
Puppet did not apply the Sensu Go asset.

- What did you expect to happen?
Puppet did apply the Sensu Go asset.

- How can someone reproduce the problem?

Attempt to apply an asset wi

[2019-06-23 00:57] #1116 closed

[2019-07-01 17:28] rgeniesse opened #1118 "Sensu Go: password change when using a backend cluster causes sensuctl failures."
## Description of problem

- What did you do?
Attempted to change the default password of the Sensu Go admin user with Puppet code.
- What happened?
One cluster member was able to make the password change, but when the other 2 went to change it, it failed, as the password was already changed by the "first" member and the configured old password was no longer valid.
- What did you expect to happen?

[2019-07-01 18:12] treydock commented on #1118
@rgeniesse Was it the case that the catalog for all 3 was applied at the same time or were they staggered?  If they were all applied at the same time and they all thought they had password needing updates at same time it would make sense you saw this error as the state is shared between cluster members so if one changed password and others aren't aware of that change then things will break. It cou

[2019-07-01 20:22] ghoneycutt commented on #1118
Do we need to declare the password on multiple backends or is the fix to just declare things on one backend and let it propagate the configs?

[2019-07-01 20:30] treydock commented on #1118
I am fairly certain that objects like the agent user can be modified on one and it will be modified for all but we manage agent password by default so in that case you'd have to make sure the password is set on all 3 backends but gets applied to one and the other 2 should require no changes once the first applies the change.  Like if backend1 made the change then subsequent runs of backend2 and ba

[2019-07-01 20:31] treydock commented on #1118
For something like agent password if they don't all match in Puppet configs then one would be constantly changing the value set by another so they have to match.

[2019-07-02 21:44] treydock commented on #1118
I tested with Vagrant and had no issues when I applied agent password on one backend and then ran Puppet on second backend after first ran Puppet. Both backends had updated agent password but only one of them had to apply the change using Puppet.

[2019-07-02 21:48] rgeniesse commented on #1118
@treydock thanks for testing. It would seem then that there was something specific to the user's environment or possible the feature was being used incorrectly. I don't have direct access to that code anymore. I'll go ahead and close this out since given your test, it seems like I'd find the same conclusion as what you did is what I was going to do. Thanks for looking into it and sorry for the non

[2019-07-02 21:48] #1118 closed

[2019-07-12 09:05] derkgort commented on #1102
Hi,

I'm not using puppet 4. I'm using puppet 5 and I also run into this issue:

puppet-agent-5.5.8
puppetserver-5.3.6

Or am I missing something?

Changing sensu/lib/puppet/provider/sensuctl.rb:102
from
def self.sensuctl_set(command, name, property, value: nil, flags:  nil)
to
def self.sensuctl_set(command, name, property, value, flags)

will fix it.

[2019-07-12 14:40] treydock commented on #1102
@derkgort I should be able to change this and maintain backwards compatibility with previous behavior. I had forgotten Puppetserver 5.x uses JRuby 1.9.3 which I think is old enough to not support this newer syntax.  Our tests all run with `puppet apply` which uses the newer ruby bundled with `puppet-agent`.

[2019-07-12 14:43] treydock opened #1120 "Add acceptance tests that use Puppetserver"
In several cases it seems we've run into issues where the Puppet code in this module is compatible with `puppet-agent` 5.x and 6.x but not `puppetserver` 5.x. This seems to be due to older Ruby version for puppetserver.

The acceptance tests for this module should be expanded to include testing the custom types/providers using full master/agent setup. Currently our tests only really test masterles

[2019-07-12 20:01] treydock opened #1121 "Support Debian 10"
Sensu Go 5.11 supports Debian 10. Currently there are no Debian 10 packages for Puppet so that is the main road block.

I believe this is current Puppet issue: https://tickets.puppetlabs.com/browse/PA-2402

[2019-07-16 02:59] #1102 closed

[2019-07-19 18:12] #1120 closed

[2019-08-01 04:27] csoleimani opened #1125 "Feature Request: Change namespace property in sensu_check from string to array"
And automatically create the check in every namespace in the array. I'm currently doing this:
[code]

It would be nice if we could do this instead:

[code]

Maybe rename namespace parameter to namespaces if this happens?

[2019-08-01 22:10] treydock commented on #1125
A few comments.

First I'd prefer to add a new property called `namespaces` that would accept an array of namespaces. Most if not all properties of the types are directly mapped to resource properties in Sensu Go so changing `namespace` to be something different than what Sensu Go accepts is not ideal.

Also your second example wouldn't work because of how we prefetch resources from sensuctl. We l